Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

Fix ownership description for auto approved routers/exits
  docs/ref/routes.md
Due: none

Mention tags on the features page
  docs/about/features.md
Due: none

Add headscale-operator
  docs/ref/integration/tools.md
Due: none

feat(web): add static file serving
  config-example.yaml
  hscontrol/app.go
  hscontrol/types/config.go
  hscontrol/web.go
  hscontrol/web_test.go
Due: golangci-lint

feat(config): fix web config path
  config-example.yaml
Due: none

docs(web): Add web interface integration document
  docs/ref/integration/web-ui.md
Due: none

test(web): optimize web app unit tests
  hscontrol/web_test.go
Due: golangci-lint

chore(changelog): add entry for built-in static web interfaces
  CHANGELOG.md
Due: none

sqliteconfig: add config opt for tx locking
  hscontrol/db/sqliteconfig/config.go
  hscontrol/db/sqliteconfig/config_test.go
Due: golangci-lint

integration: add run ID isolation for concurrent test execution
  integration/dsic/dsic.go
  integration/hsic/hsic.go
  integration/scenario.go
  integration/tsic/tsic.go
Due: golangci-lint

cmd/hi: enable concurrent test execution
  cmd/hi/cleanup.go
  cmd/hi/docker.go
  cmd/hi/run.go
Due: golangci-lint

docs: update integration testing docs for concurrent execution
  .claude/agents/headscale-integration-tester.md
  AGENTS.md
Due: none

types: use Username() in User.Proto() for consistent user display
  hscontrol/types/users.go
Due: golangci-lint

flake: use testers.nixosTest instead of deprecated nixosTest
  flake.nix
Due: nixpkgs-fmt

CHANGELOG: add breaking change for Node API simplification
  CHANGELOG.md
Due: none

state: disable key expiry for nodes with approved advertise-tags
  hscontrol/state/state.go
Due: golangci-lint

state: disable key expiry for tagged nodes
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

api/v1: replace ForcedTags/InvalidTags/ValidTags with Tags
  proto/headscale/v1/node.proto
Due: none

gen: regenerate protobuf code
  cmd/headscale/cli/nodes.go
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1.go
  hscontrol/types/node.go
  integration/acl_test.go
  integration/tags_test.go
Due: golangci-lint

integration/tags: add self-tag validation for node updates
  integration/tags_test.go
Due: golangci-lint

proto: change preauthkey API to ID-based operations
  CHANGELOG.md
  proto/headscale/v1/preauthkey.proto
Due: none

integration: add test for tagged node display
  integration/cli_test.go
Due: golangci-lint

changelog: add PR link for preauthkey CLI changes
  CHANGELOG.md
Due: none

integration: support auth keys without user
  integration/control.go
  integration/hsic/hsic.go
  integration/scenario.go
Due: golangci-lint

state: improve node store debug output
  hscontrol/state/node_store.go
Due: golangci-lint

ci: run TestTaggedNodesCLIOutput in integration tests
  .github/workflows/test-integration.yaml
  hscontrol/types/node.go
Due: golangci-lint

cli: fix preauthkeys expire/delete argument validation
  cmd/headscale/cli/preauthkeys.go
Due: golangci-lint

nix: use testers.nixosTest instead of nixosTest
  flake.nix
Due: nixpkgs-fmt

hscontrol: allow CreatePreAuthKey without user when tags provided
  hscontrol/grpcv1.go
Due: golangci-lint

integration: test tags-only auth key behavior
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

gen: regenerate proto code
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

cli,hscontrol: use ID-based preauthkey operations
  cmd/headscale/cli/preauthkeys.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/users.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
Due: golangci-lint

gen: regenerate protobuf files
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
Due: none

integration: update DeleteAuthKey to use ID
  integration/auth_key_test.go
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
