Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

state: allow untagging nodes via reauth with empty RequestTags
  CHANGELOG.md
  hscontrol/auth_test.go
  hscontrol/state/state.go
Due: golangci-lint

Link to headscale.net for docs
  hscontrol/templates/oidc_callback.go
  hscontrol/templates_consistency_test.go
Due: golangci-lint

Fix list-routes examples
  docs/ref/routes.md
Due: none

Bump version in mkdocs
  mkdocs.yml
Due: none

Document /version in the API docs
  docs/ref/api.md
Due: none

Document how to disable the metrics interfaces
  config-example.yaml
  docs/ref/debug.md
Due: none

Fix ownership description for auto approved routers/exits
  docs/ref/routes.md
Due: none

Document oidc.email_verification_required
  config-example.yaml
  docs/ref/oidc.md
Due: none

Mention tags on the features page
  docs/about/features.md
Due: none

Changelog: mark oidc.email_verified_required as breaking
  CHANGELOG.md
Due: none

integration: add tests for ACL group with deleted/unknown users
  integration/acl_test.go
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

state: update policy manager when deleting users
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  integration/acl_test.go
Due: golangci-lint

ci: add ACL unknown user tests to integration workflow
  .github/workflows/test-integration.yaml
Due: none

state: add unit test for DeleteUser change signal
  .github/workflows/test-integration.yaml
  hscontrol/grpcv1_test.go
  integration/acl_test.go
Due: golangci-lint

Deployed 18e13f6f to development with MkDocs 1.6.1 and mike 2.1.3
  development/about/features/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/oidc/index.html
  development/ref/routes/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

policy,integration: update tests for SSH src/dst validation
  hscontrol/policy/policy_test.go
  integration/ssh_test.go
Due: golangci-lint

policy/v2: add SSH src/dst validation for Tailscale parity
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: add runtime filtering for * dst with tag sources
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
Due: golangci-lint

CHANGELOG: add SSH policy breaking change for 0.28.0
  CHANGELOG.md
Due: none

state: disable key expiry for nodes with approved advertise-tags
  hscontrol/state/state.go
Due: golangci-lint

state: disable key expiry for tagged nodes
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

proto: add id field to API key expire/delete requests
  proto/headscale/v1/apikey.proto
Due: none

state: add GetAPIKeyByID method
  hscontrol/state/state.go
Due: golangci-lint

integration: add tests for API key expire/delete by ID
  integration/cli_test.go
Due: golangci-lint

grpc: support expire/delete API keys by ID
  hscontrol/db/api_key_test.go
  hscontrol/grpcv1.go
  hscontrol/grpcv1_test.go
Due: golangci-lint

cli: add --id flag to API key expire/delete commands
  cmd/headscale/cli/api_key.go
Due: golangci-lint

gen: regenerate protobuf code
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

docs: add changelog entry for API key expire/delete by ID
  CHANGELOG.md
Due: none

db: migrate tests from check.v1 to testify
  hscontrol/db/api_key_test.go
  hscontrol/db/db_test.go
  hscontrol/db/node_test.go
  hscontrol/db/suite_test.go
  hscontrol/mapper/suite_test.go
  hscontrol/suite_test.go
Due: golangci-lint

cmd/headscale: migrate tests from check.v1 to testify
  cmd/headscale/headscale_test.go
Due: golangci-lint

go.mod: remove gopkg.in/check.v1 dependency
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

integration: add test for reauth tag removal
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

util/dns: fix variable redeclaration in ValidateDNSName
  hscontrol/util/dns.go
Due: golangci-lint

integration: support auth keys without user
  integration/control.go
  integration/hsic/hsic.go
  integration/scenario.go
Due: golangci-lint

hscontrol: fix tag updates not propagating to node self view
  hscontrol/mapper/batcher.go
  hscontrol/mapper/mapper.go
  hscontrol/state/state.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

integration/tags: add self-tag validation to existing tests
  integration/tags_test.go
Due: golangci-lint

integration/tags: add dedicated issue #2978 reproduction test
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

integration: test tags-only auth key behavior
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
