Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

nix: write split DNS where headscale reads it
  CHANGELOG.md
  nix/module.nix
Due: nixpkgs-fmt

derp: pick the derp.paths format by file extension
  CHANGELOG.md
  config-example.yaml
  docs/ref/derp.md
  hscontrol/derp/derp.go
  hscontrol/derp/derp_test.go
  hscontrol/types/config.go
Due: golangci-lint

nix: stop module.nix writing the deprecated ephemeral key
  CHANGELOG.md
  nix/module.nix
Due: nixpkgs-fmt

testcapture: read captures through util.ReadFileByExt
  hscontrol/types/testcapture/read.go
Due: golangci-lint

Deployed 00663fbb to development with ProperDocs 1.6.7 and mike 2.2.0
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/registration/index.html
  development/search/search_index.json
  development/usage/getting-started/index.html
Due: none

types: add identity-provider group memberships
  hscontrol/types/groups.go
  hscontrol/types/groups_test.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
  hscontrol/types/users.go
Due: golangci-lint

db: store identity-provider group memberships
  hscontrol/db/db.go
  hscontrol/db/groups.go
  hscontrol/db/groups_test.go
  hscontrol/db/node.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/schema.sql
  hscontrol/db/users.go
Due: golangci-lint

policy/v2: resolve identity-provider groups as group:<name>@<domain>
  hscontrol/policy/v2/idp_groups_bench_test.go
  hscontrol/policy/v2/idp_groups_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

oidc: sync the groups claim into identity-provider group memberships
  hscontrol/oidc.go
  hscontrol/oidc_groups_test.go
  hscontrol/oidc_test.go
  hscontrol/state/groups_test.go
  hscontrol/state/state.go
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/groups.go
  hscontrol/types/groups_test.go
  hscontrol/util/zlog/zf/fields.go
Due: golangci-lint

policy/v2: recompile per-node filters when their grants change
  hscontrol/policy/v2/pernode_invalidation_test.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

api/v1: expose users' identity-provider groups
  cmd/headscale/cli/users.go
  gen/client/v1/client.gen.go
  hscontrol/api/v1/types.go
  hscontrol/apiv1_users_test.go
  hscontrol/testdata/apiv1_golden/TestAPIV1AuthRegister_happy_path_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1CreateUser_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1ListPreAuthKeys_all_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1ListUsers_all_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1ListUsers_filter_by_id_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1ListUsers_filter_by_name_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1NodeGet_happy_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1NodeGet_tagged_node_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1NodeList_all_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1NodeList_filter_by_user_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1NodeRegister_happy_parity.json
  hscontrol/testdata/apiv1_golden/TestAPIV1RenameUser_parity.json
  integration/auth_oidc_test.go
  integration/cli_users_test.go
Due: golangci-lint

integration: cover OIDC group sync end to end
  .github/workflows/test-integration.yaml
  integration/auth_oidc_groups_test.go
  integration/helpers.go
Due: golangci-lint

docs: document identity-provider groups in the policy
  CHANGELOG.md
  config-example.yaml
  docs/about/features.md
  docs/ref/oidc.md
Due: none

docs: fix "specfic" typo in policy reference
  docs/ref/policy.md
Due: none

docs: fix "is may be" grammar in policy reference
  docs/ref/policy.md
Due: none

Deployed 3486ab2f to development with ProperDocs 1.6.7 and mike 2.2.0
  development/ref/policy/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
Due: none

state: fail when a Node field is not classified for peer map reuse
  hscontrol/state/node_store_test.go
Due: golangci-lint

CHANGELOG: note fewer peer map builds per write
  CHANGELOG.md
Due: none

state,policy: add peer map and NodeStore write benchmarks
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/maprequest_test.go
  hscontrol/state/node_store_test.go
Due: golangci-lint

state: decide whole-peer updates at each caller, not in persist
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: check NodeStore adjacency against a full peer map build
  hscontrol/state/node_store_test.go
Due: golangci-lint

policy/v2: check cached per-node results against a fresh compile
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

state: refresh policy nodes inside the peer map build
  hscontrol/api/v1/auth.go
  hscontrol/api/v1/nodes.go
  hscontrol/api/v1/policy.go
  hscontrol/api/v2/acl.go
  hscontrol/api/v2/devices.go
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/mapper/mapper_test.go
  hscontrol/oidc.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/poll.go
  hscontrol/servertest/harness.go
  hscontrol/state/node_store_test.go
  hscontrol/state/persist_clobber_test.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

policy/v2: count node-driven recompiles
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

integration: wait for r2 to drop r1's route before pulling its cable
  integration/route_test.go
Due: golangci-lint

policy/v2: keep the live policy when SetPolicy fails to compile
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

state: approve routes inside the map request write
  hscontrol/state/maprequest_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: send PolicyChange from SetApprovedRoutes only when visibility moved
  hscontrol/state/maprequest_test.go
  hscontrol/state/node_store.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

policy/v2: drop per-node filter caches when users change
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

policy/v2: leave the policy manager unchanged when a recompile fails
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

Add 'Headscale Easy' project details to documentation
  docs/ref/integration/web-ui.md
Due: none

policy/v2: add via exit node captures with unrelated rules
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/testdata/grant_results/via-grant-v53.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v54.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v55.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v56.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v57.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v58.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v59.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v60.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v61.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v62.hujson
  hscontrol/servertest/via_compat_test.go
Due: golangci-lint

policyutil: send approved exit nodes every rule
  hscontrol/policy/policyutil/reduce.go
  hscontrol/policy/policyutil/reduce_test.go
Due: golangci-lint

policy/v2: let autogroup:internet rules lift via exit steering
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

policy/v2: send exit nodes every user's autogroup:self rules
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

servertest: compare via capture filters as rule sets
  hscontrol/servertest/via_compat_test.go
Due: golangci-lint

policy/v2: stop narrow rules from undoing via exit steering
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
