Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

state: defer HA failover when probe target reconnected mid-cycle
  hscontrol/servertest/ha_health_test.go
  hscontrol/state/ha_health.go
Due: golangci-lint

Update config-example links
  config-example.yaml
Due: none

Add taildrive, tests, sshTests as supported features
  docs/about/features.md
Due: none

Quote autogroup:self in the CHANGELOG
  CHANGELOG.md
Due: none

The headscale service is enabled by default
  docs/setup/install/official.md
Due: none

Add docs for policy-wide options and node attributes
  docs/about/features.md
  docs/ref/policy.md
Due: none

Deployed 963daf89 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/ref/integration/reverse-proxy/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

Deployed e07b3910 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/about/features/index.html
  development/ref/policy/index.html
  development/search/search_index.json
  development/setup/install/official/index.html
Due: none

.golangci: ignore tests for goconst, raise occurrence threshold
  .golangci.yaml
Due: none

metrics, policy/v2: drop unused scaffolding + nil-error returns
  hscontrol/metrics.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/issue_3267_test.go
  hscontrol/policy/v2/tailscale_acl_data_compat_test.go
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/tailscale_routes_data_compat_test.go
Due: golangci-lint

cmd, templates, integration: extract shared production constants
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/root.go
  cmd/headscale/cli/root_test.go
  cmd/headscale/cli/strings.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
  hscontrol/templates/design.go
  hscontrol/templates/ping.go
  hscontrol/templates/register_confirm.go
  integration/hsic/config.go
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

all: mechanical lint fixes
  hscontrol/db/text_serialiser.go
  hscontrol/debug.go
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

all: annotate gosec false positives with rationale
  hscontrol/app.go
  hscontrol/oidc.go
  hscontrol/oidc_confirm_test.go
  hscontrol/tailsql.go
  integration/scenario.go
Due: golangci-lint

all: annotate complex functions with gocyclo rationale
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/servertest/routes_test.go
  hscontrol/state/state.go
Due: golangci-lint

fix: CVE-2026-33816 security vulnerability
  go.mod
  go.sum
Due: none

noise: pin outer RemoteAddr onto tunnel requests
  hscontrol/noise.go
  hscontrol/noise_test.go
Due: golangci-lint

changelog: normalise 0.29.0 BREAKING and Changes sections
  CHANGELOG.md
Due: none

go.mod, go.sum: bump dependencies for v0.29.0
  flakehashes.json
  go.mod
  go.sum
Due: none

flake.nix, flake.lock: bump nixpkgs and pinned tools
  .golangci.yaml
  flake.lock
  flake.nix
Due: nixpkgs-fmt

gen: regenerate grpc stubs with protoc-gen-go-grpc v1.6.2
  gen/go/headscale/v1/headscale_grpc.pb.go
Due: none

Dockerfile: bump base images
  Dockerfile.derper
  Dockerfile.integration
  Dockerfile.tailscale-HEAD
  Dockerfile.tailscale-rs
  go.mod
Due: none

capver, types: bump to tailscale v1.98, drop LegacyDERPString
  hscontrol/capver/capver.go
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
  hscontrol/mapper/tail_test.go
  hscontrol/types/node.go
  integration/helpers.go
Due: golangci-lint

CHANGELOG: bump 0.29.0 minimum tailscale client to v1.80.0
  CHANGELOG.md
Due: none

hi: add list-versions subcommand
  cmd/hi/listversions.go
  cmd/hi/main.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
