Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

ci: regenerate test-integration.yaml for TestTailscaleRustAxum
  .github/workflows/test-integration.yaml
Due: none

integration/tsric: add TailscaleRustInContainer package
  Dockerfile.tailscale-rs
  integration/tsric/tsric.go
Due: golangci-lint

oidc: handle groups claim as string or array (FlexibleStringSlice)
  hscontrol/types/users.go
  hscontrol/types/users_test.go
Due: golangci-lint

integration: cover exit nodes via autogroup:internet ACL (#3212)
  .github/workflows/test-integration.yaml
  integration/route_test.go
Due: golangci-lint

policy: surface exit nodes via autogroup:internet (#3212)
  hscontrol/policy/policy_test.go
  hscontrol/policy/policyutil/reduce.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/issue_3212_test.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/testdata/issue_3212/routes-b17-autogroup-internet-with-exit-autoapprover.hujson
  hscontrol/policy/v2/testdata/issue_3212/routes-b18-autogroup-internet-wildcard-src-with-exit-autoapprover.hujson
Due: golangci-lint

state: preserve nil expiry on user owned registration when no default is configured
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

CHANGELOG: note nil expiry preservation fix
  CHANGELOG.md
Due: none

state: note tagged-path coverage and self-healing behaviour for #3199
  CHANGELOG.md
  hscontrol/auth_tags_test.go
Due: golangci-lint

integration: reproduce HA primary flap to offline node via docker disconnect
  integration/dockertestutil/network.go
  integration/route_test.go
  integration/tailscale.go
  integration/tsic/tsic.go
Due: golangci-lint

integration: regenerate workflow for HA docker disconnect test
  .github/workflows/test-integration.yaml
Due: none

integration: expand HA docker disconnect to lifecycle test
  integration/route_test.go
Due: golangci-lint

state: preserve previous primary when all HA advertisers unhealthy
  hscontrol/state/node_store.go
  hscontrol/state/primaries_property_test.go
  hscontrol/state/primaries_test.go
Due: golangci-lint

integration: relax HA docker disconnect non-bug stability checks
  integration/route_test.go
Due: golangci-lint

types: add Unhealthy and SessionEpoch fields to Node
  hscontrol/types/node.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
Due: golangci-lint

types: move DebugRoutes from routes to types
  hscontrol/types/debug_routes.go
  integration/control.go
  integration/hsic/hsic.go
  integration/route_test.go
Due: golangci-lint

state: switch consumers to NodeStore primary routes
  hscontrol/mapper/tail_test.go
  hscontrol/servertest/connect_race_test.go
  hscontrol/servertest/ha_dynamic_test.go
  hscontrol/servertest/ha_health_test.go
  hscontrol/state/debug.go
  hscontrol/state/ha_health.go
  hscontrol/state/node_store.go
  hscontrol/state/state.go
Due: golangci-lint

state: compute primary routes inside NodeStore snapshot
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
Due: golangci-lint

servertest, integration: cover HA both-offline recovery
  .github/workflows/test-integration.yaml
  hscontrol/servertest/routes_test.go
  integration/route_test.go
Due: golangci-lint

state: clear Unhealthy when node leaves HA candidate set
  hscontrol/servertest/ha_health_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: delete routes package, port primary route tests
  flake.nix
  go.mod
  hscontrol/routes/primary.go
  hscontrol/routes/primary_test.go
  hscontrol/state/primaries_property_test.go
  hscontrol/state/primaries_test.go
Due: nixpkgs-fmt, golangci-lint

all: rephrase prose to fit codebase voice
  AGENTS.md
  hscontrol/db/users_test.go
  hscontrol/grpcv1_test.go
  hscontrol/policy/v2/tailscale_acl_data_compat_test.go
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/tailscale_routes_data_compat_test.go
  hscontrol/policy/v2/tailscale_ssh_data_compat_test.go
  hscontrol/templates/ping_test.go
  hscontrol/types/testcapture/header.go
  hscontrol/types/testcapture/testcapture.go
  hscontrol/types/testcapture/testcapture_test.go
Due: golangci-lint

integration: HA cable-pull lifecycle test
  integration/dockertestutil/network.go
  integration/route_test.go
  integration/tailscale.go
  integration/tsic/tsic.go
Due: golangci-lint

.github/scripts: add commit-lint rule with tests
  .github/scripts/commit-lint.nu
  .github/scripts/commit-lint.test.nu
Due: none

.github/workflows: enforce commit-lint on pull requests
  .github/workflows/commit-lint.yml
Due: none

docs: require issue references in commit messages
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

flake.nix, go.mod: bump tailscale.com to v1.97.0-pre
  Dockerfile.integration
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

hscontrol/types: regenerate types_clone.go for viewer bump
  hscontrol/types/types_clone.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
