Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

matcher: clarify DestsIsTheInternet single-family semantics
  hscontrol/policy/matcher/matcher.go
  hscontrol/policy/matcher/matcher_test.go
Due: golangci-lint

change: document PingRequest merge first-wins foot-gun
  hscontrol/types/change/change.go
Due: golangci-lint

servertest: add dynamic HA failover tests
  hscontrol/servertest/ha_dynamic_test.go
Due: golangci-lint

state: tie-break ResolveNode by GivenName then lowest NodeID
  hscontrol/state/state.go
Due: golangci-lint

Update docs for new HA tracking
  config-example.yaml
  docs/ref/routes.md
Due: none

Deployed 813eb2d7 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/ref/tls/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/main/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
Due: none

app: add security headers middleware
  hscontrol/app.go
  hscontrol/app_test.go
  hscontrol/debug.go
Due: golangci-lint

hscontrol/types: silence zerolog by default in tests
  hscontrol/db/suite_test.go
  hscontrol/mapper/batcher_bench_test.go
  hscontrol/mapper/batcher_concurrency_test.go
  hscontrol/mapper/batcher_scale_bench_test.go
  hscontrol/mapper/batcher_test.go
  hscontrol/types/testlog.go
  hscontrol/util/zlog/init_test.go
Due: golangci-lint

servertest: add TestViaGrantHACompat for via+HA compat tests
  hscontrol/servertest/via_ha_compat_test.go
Due: golangci-lint

cmd/dev: validate --port fits the derived-port range
  cmd/dev/main.go
Due: golangci-lint

integration: remove --accept-routes from via steering routers
  integration/route_test.go
Due: golangci-lint

noise: reject non-HEAD on PingResponseHandler
  hscontrol/noise.go
  hscontrol/servertest/ping_test.go
Due: golangci-lint

servertest: add via grant map compat tests
  hscontrol/servertest/via_compat_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: drain pending pings on Close
  hscontrol/state/ping.go
  hscontrol/state/ping_test.go
  hscontrol/state/state.go
Due: golangci-lint

debug: explain URLIsNoise choice in ping callback
  hscontrol/debug.go
Due: golangci-lint

policy/v2: overhaul compat test infrastructure
  hscontrol/policy/matcher/matcher_test.go
  hscontrol/policy/v2/tailscale_acl_data_compat_test.go
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/tailscale_routes_data_compat_test.go
  hscontrol/policy/v2/tailscale_ssh_data_compat_test.go
Due: golangci-lint

policy/v2: align SSH check action with SaaS wire format
  hscontrol/noise.go
  hscontrol/noise_test.go
Due: golangci-lint

types: consider subnet routes as source identity in ACL matching
  hscontrol/policy/policy_test.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
Due: golangci-lint

policy/v2: wire PolicyManager through compiledGrant
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policyutil: fix reduceCapGrantRule and add route reduction
  hscontrol/policy/policyutil/doc.go
  hscontrol/policy/policyutil/reduce.go
  hscontrol/policy/policyutil/reduce_test.go
Due: golangci-lint

CHANGELOG: document subnet-to-subnet ACL fixes
  CHANGELOG.md
Due: none

testcapture: add typed capture format package
  hscontrol/types/testcapture/header.go
  hscontrol/types/testcapture/read.go
  hscontrol/types/testcapture/testcapture.go
  hscontrol/types/testcapture/testcapture_test.go
  hscontrol/types/testcapture/write.go
Due: golangci-lint

templates: escape query value in ping page
  hscontrol/debug.go
  hscontrol/templates/ping.go
  hscontrol/templates/ping_test.go
Due: golangci-lint

hscontrol: preserve nil expiry on tagged node tailscaled restart
  CHANGELOG.md
  hscontrol/auth.go
  hscontrol/auth_tags_test.go
Due: golangci-lint

state: auto-bump GivenName on collision and add SetGivenName
  hscontrol/state/node_store.go
  hscontrol/state/node_store_hostname_test.go
Due: golangci-lint

hscontrol: route hostname handling through dnsname and NodeStore
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/users.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
  hscontrol/util/string.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
  integration/cli_test.go
  integration/general_test.go
Due: golangci-lint

CHANGELOG: document hostname cleanroom rewrite
  CHANGELOG.md
Due: none

Remove changelog section for 0.28.1
  CHANGELOG.md
Due: none

Document availability of autgroup:internet
  docs/about/features.md
  docs/ref/acls.md
Due: none

Update links to Tailscale documentation
  CHANGELOG.md
  README.md
  config-example.yaml
  derp-example.yaml
  docs/about/faq.md
  docs/about/features.md
  docs/ref/acls.md
  docs/ref/debug.md
  docs/ref/derp.md
  docs/ref/dns.md
  docs/ref/registration.md
  docs/ref/routes.md
  docs/ref/tags.md
  docs/usage/connect/apple.md
  docs/usage/connect/windows.md
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
  hscontrol/templates/auth_success.go
  hscontrol/templates_consistency_test.go
  hscontrol/types/node.go
  nix/module.nix
Due: nixpkgs-fmt, golangci-lint

Deployed f1494a32 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/about/faq/index.html
  development/about/features/index.html
  development/ref/acls/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  versions.json
Due: none
