Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

Add a page to describe supported registration methods
  docs/about/features.md
  docs/ref/acls.md
  docs/ref/registration.md
  docs/usage/connect/android.md
  docs/usage/getting-started.md
  mkdocs.yml
Due: none

Bump year/version for mkdocs
  mkdocs.yml
Due: none

Add missing words
  docs/ref/oidc.md
  docs/usage/getting-started.md
Due: none

Deployed 5d300273 to development with MkDocs 1.6.1 and mike 2.1.3
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/assets/images/social/ref/registration.png
  development/assets/images/social/ref/tags.png
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/ref/tls/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
Due: none

state: validate tags before UpdateNode to ensure consistency
  hscontrol/state/state.go
Due: golangci-lint

state: refactor HandleNodeFromAuthPath for clarity
  hscontrol/state/state.go
Due: golangci-lint

state: inline reauthExistingNode and convertTaggedNodeToUser
  hscontrol/state/state.go
Due: golangci-lint

state: fix expiry handling during node tag conversion
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

policy/v2: use partial IPSet on group resolution errors in autogroup:self path
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
Due: golangci-lint

policy/v2: add IsTagged() guards to prevent panics on tagged nodes
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

policy/v2: keep partial IPSet on SSH destination resolution errors
  hscontrol/policy/v2/filter.go
Due: golangci-lint

policy/v2: add Caller() to log statements in compileACLWithAutogroupSelf
  hscontrol/policy/v2/filter.go
Due: golangci-lint

state: set User pointer during tagged→user-owned conversion
  hscontrol/mapper/mapper.go
  hscontrol/state/state.go
Due: golangci-lint

integration: add test for tagged→user-owned conversion panic
  .github/workflows/test-integration.yaml
  hscontrol/auth_test.go
  integration/tags_test.go
Due: golangci-lint

integration/tsic: add WithTailscaleRef option for building from specific git refs
  Dockerfile.tailscale-HEAD
  integration/tsic/tsic.go
Due: golangci-lint

integration: add regression tests for peer/subnet route installation
  integration/route_test.go
Due: golangci-lint

policy/v2: include nodes with empty filters in BuildPeerMap
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

policy/v2: add test for issue #2990 same-user tagged device
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

state: fix nil pointer panic when re-registering tagged node without user
  hscontrol/auth_test.go
  hscontrol/state/state.go
Due: golangci-lint

changelog: change api key format
  CHANGELOG.md
Due: none

all: update Go module dependencies
  go.mod
  go.sum
Due: none

flake.nix: update hashes for dependency changes
  flake.nix
Due: nixpkgs-fmt

flake.lock: update nixpkgs to 2026-02-03
  flake.lock
Due: none

changelog: set 0.28 date
  CHANGELOG.md
Due: none
