Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

all: add remaining noinlineerr nolint directives
  hscontrol/noise.go
  hscontrol/platform_config.go
  hscontrol/tailsql.go
  integration/scenario.go
Due: golangci-lint

flake.nix: update vendorHash for go modules
  flake.nix
Due: nixpkgs-fmt

Fix typos
  CHANGELOG.md
  README.md
  docs/about/faq.md
  docs/index.md
Due: none

integration: update error message expectation in TestPolicyBrokenConfigCommand
  integration/cli_test.go
Due: golangci-lint

capver: regenerate from docker tags
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
Due: golangci-lint

CHANGELOG: add minimum Tailscale version for 0.29.0
  CHANGELOG.md
Due: none

Set node key expiration in the far future when creating nodes with preauth keys to avoid Tailscale spinlock
  hscontrol/types/node.go
Due: golangci-lint

Tweak whitespace
  hscontrol/types/node.go
Due: golangci-lint

When tailscaled restarts and sends Auth=nil, Expiry=zero, tagged nodes will correctly return early without being routed into handleLogout and having their expiry corrupted.
  hscontrol/auth.go
Due: golangci-lint

ACL testing (#1803)
  CHANGELOG.md
  cmd/headscale/cli/policy.go
  docs/ref/acls.md
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/policy.proto
Due: golangci-lint

feat: reload certificate on sighup reload
  hscontrol/app.go
Due: golangci-lint

chore: add tls test
  hscontrol/tls_test.go
Due: golangci-lint

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: refine log entry
  hscontrol/app.go
Due: golangci-lint

test: add integration tests for TLS certificate reload on SIGHUP
  integration/control.go
  integration/tls_test.go
Due: golangci-lint

Fix: internal server error on /debug/registration-cache endpoint
  hscontrol/state/debug.go
  hscontrol/state/debug_registration_cache_test.go
Due: golangci-lint

Add integration test for issue #2714 registration cache debug endpoint
  hscontrol/integration_test.go
Due: golangci-lint

feat(oidc): add use_email_as_username option to fall back to email claim
  CHANGELOG.md
  config-example.yaml
  docs/ref/oidc.md
  hscontrol/oidc.go
  hscontrol/types/config.go
  hscontrol/types/users.go
  hscontrol/types/users_test.go
Due: golangci-lint

github: update issue template contact links
  .github/ISSUE_TEMPLATE/config.yml
Due: none

github: add needs-more-info automation workflow
  .github/label-response/needs-more-info.md
  .github/workflows/needs-more-info-comment.yml
  .github/workflows/needs-more-info-timer.yml
  .github/workflows/stale.yml
Due: none

github: add support-request automation workflow
  .github/label-response/support-request.md
  .github/workflows/support-request.yml
Due: none

github: fix needs-more-info label race condition
  .github/workflows/needs-more-info-timer.yml
Due: none

config: clarify unsupported prefixes warnings
  hscontrol/types/config.go
Due: golangci-lint

fix(auth): persist ephemeral flag for interactive nodes
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/schema.sql
  hscontrol/state/debug.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
Due: golangci-lint

policy: add App Connector support
  hscontrol/mapper/builder.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/appconnector_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
Due: golangci-lint

docs: add App Connector documentation and integration tests
  CHANGELOG.md
  docs/about/features.md
  docs/ref/acls.md
  integration/appconnector_test.go
Due: golangci-lint

fix: ensure Docker API version compatibility and improve app connector tests
  cmd/hi/docker.go
  integration/appconnector_test.go
Due: golangci-lint

docs: add nix develop prerequisite to VS Code steps
  CONTRIBUTING.md
Due: none

build: add build-deps make target for nix bootstrap
  CONTRIBUTING.md
  Makefile
Due: none
