Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

state: fix NodeStore test to enforce MachineKey uniqueness
  hscontrol/state/node_store_rapid_test.go
  hscontrol/state/testdata/rapid/TestRapid_Snapshot_NodesByMachineKeyConsistency/TestRapid_Snapshot_NodesByMachineKeyConsistency-20260408105450-2244148.fail
Due: golangci-lint

types: add property-based tests for Node, TailNode, AuthID, and Users
  hscontrol/types/authid_rapid_test.go
  hscontrol/types/node_rapid_test.go
  hscontrol/types/tailnode_rapid_test.go
  hscontrol/types/testdata/rapid/TestRapid_OIDCClaims_Identifier_SubAppearsInResult/TestRapid_OIDCClaims_Identifier_SubAppearsInResult-20260331124257-1804558.fail
  hscontrol/types/testdata/rapid/TestRapid_OwnerName_NilUserNilTagsPanic/TestRapid_OwnerName_NilUserNilTagsPanic-20260402113054-1171436.fail
  hscontrol/types/testdata/rapid/TestRapid_SubnetRoutes_IntersectionCorrectness/TestRapid_SubnetRoutes_IntersectionCorrectness-20260331134041-1865567.fail
  hscontrol/types/testdata/rapid/TestRapid_TailNode_AllowedIPsComposition/TestRapid_TailNode_AllowedIPsComposition-20260402092654-1137146.fail
  hscontrol/types/testdata/rapid/TestRapid_TailNode_AllowedIPsComposition/TestRapid_TailNode_AllowedIPsComposition-20260402092859-1139314.fail
  hscontrol/types/testdata/rapid/TestRapid_TailscaleUserID_OrphanedNodePanic/TestRapid_TailscaleUserID_OrphanedNodePanic-20260402113054-1171436.fail
  hscontrol/types/users_rapid_test.go
Due: golangci-lint

all: improve property test generators for deeper bug finding
  hscontrol/mapper/batcher_rapid_test.go
  hscontrol/policy/v2/policy_rapid_test.go
  hscontrol/routes/primary_rapid_test.go
  hscontrol/state/node_store_rapid_test.go
  hscontrol/state/testdata/rapid/TestRapid_Snapshot_NodesByMachineKeyConsistency/TestRapid_Snapshot_NodesByMachineKeyConsistency-20260408105450-2244148.fail
  hscontrol/types/node_rapid_test.go
  hscontrol/types/tailnode_rapid_test.go
Due: golangci-lint

all: fix golangci-lint issues in property-based tests
  hscontrol/db/ip_rapid_test.go
  hscontrol/db/node_rapid_test.go
  hscontrol/db/preauth_keys_rapid_test.go
  hscontrol/mapper/batcher_rapid_test.go
  hscontrol/mapper/builder_adversarial_rapid_test.go
  hscontrol/mapper/builder_rapid_test.go
  hscontrol/policy/matcher/matcher_rapid_test.go
  hscontrol/policy/v2/policy_rapid_test.go
  hscontrol/policy/v2/utils_rapid_test.go
  hscontrol/routes/primary_rapid_test.go
  hscontrol/servertest/rapid_pbt_test.go
  hscontrol/state/node_store_rapid_test.go
  hscontrol/state/tags_rapid_test.go
  hscontrol/types/authid_rapid_test.go
  hscontrol/types/change/change_rapid_test.go
  hscontrol/types/node_rapid_test.go
  hscontrol/types/tailnode_rapid_test.go
  hscontrol/types/users_rapid_test.go
  hscontrol/util/addr_rapid_test.go
  hscontrol/util/dns_rapid_test.go
Due: golangci-lint

hscontrol/policy: cache per-node matchers and source indices for autogroup:self
  hscontrol/policy/v2/policy.go
Due: golangci-lint

hscontrol/policy: persist resolve cache across per-node filter compilations
  hscontrol/policy/v2/policy.go
Due: golangci-lint

mapper: fix phantom updateSentPeers on disconnected nodes
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_unit_test.go
  hscontrol/mapper/node_conn.go
Due: golangci-lint

hscontrol/policy/matcher: cache ParseIPSet results across matcher compilation
  hscontrol/policy/matcher/matcher.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

hscontrol/policy: split per-node filter compilation for autogroup:self
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

hscontrol/policy: cache global matchers, only build per-node matchers for autogroup:self
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

docs: expand cmd/hi and integration READMEs
  cmd/hi/README.md
  integration/README.md
Due: none

AGENTS.md: trim to behavioural guidance, drop deprecated sub-agent
  .claude/agents/headscale-integration-tester.md
  AGENTS.md
Due: none

Dockerfile: bump tailscale DERPer builder to Go 1.26.2
  Dockerfile.derper
Due: none

all: update Go dependencies
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nix: update flake inputs and dev shell tool versions
  flake.lock
  flake.nix
Due: nixpkgs-fmt

all: regenerate generated files for new tool versions
  gen/go/headscale/v1/headscale_grpc.pb.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
Due: golangci-lint

Fix #3178: check autoApproveMap for exit routes
  hscontrol/policy/route_approval_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

Fix exit node routes when using autoApprovers
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  hscontrol/debug.go
  hscontrol/mapper/batcher_concurrency_test.go
  hscontrol/policy/policyutil/reduce.go
  hscontrol/state/debug.go
  hscontrol/state/node_store.go
  hscontrol/types/config.go
  hscontrol/types/version.go
  hscontrol/util/string.go
  integration/helpers.go
  tools/capver/main.go
Due: golangci-lint

api: expose node endpoints on GET /api/v1/node
  .gitignore
  gen/go/headscale/v1/node.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1_test.go
  hscontrol/types/node.go
  proto/headscale/v1/node.proto
Due: golangci-lint

types/change: fix slice aliasing in Change.Merge
  hscontrol/types/change/change.go
Due: golangci-lint

db: fix slice aliasing in migration tag merge
  hscontrol/db/db.go
Due: golangci-lint

types: fix OIDC identifier path traversal dropping subject
  hscontrol/types/users.go
Due: golangci-lint

types: fix nil panics in Owner() and TailscaleUserID() for orphaned nodes
  hscontrol/types/node.go
Due: golangci-lint

state: fix routesChanged mutating input Hostinfo
  hscontrol/state/state.go
Due: golangci-lint

mapper: fix empty Peers list not clearing client peer state
  hscontrol/mapper/batcher.go
Due: golangci-lint

types/change: panic on Merge with conflicting TargetNode values
  hscontrol/types/change/change.go
Due: golangci-lint

CHANGELOG: document user-facing changes from #3180
  CHANGELOG.md
Due: none

debug: route statsviz through tsweb.Protected
  hscontrol/debug.go
Due: golangci-lint

state: replace zcache with bounded LRU for auth cache
  cmd/headscale/cli/policy.go
  config-example.yaml
  flake.nix
  go.mod
  go.sum
  hscontrol/auth.go
  hscontrol/auth_tags_test.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/suite_test.go
  hscontrol/grpcv1.go
  hscontrol/mapper/batcher_test.go
  hscontrol/oidc.go
  hscontrol/servertest/ephemeral_test.go
  hscontrol/state/auth_cache_test.go
  hscontrol/state/debug.go
  hscontrol/state/state.go
  hscontrol/types/common.go
  hscontrol/types/config.go
  hscontrol/types/registration.go
Due: nixpkgs-fmt, golangci-lint

noise: pass context to sshActionFollowUp
  hscontrol/noise.go
Due: golangci-lint

oidc: validate state parameter length in callback
  hscontrol/oidc.go
Due: golangci-lint

hscontrol: limit /verify request body size
  hscontrol/handlers.go
  hscontrol/handlers_test.go
Due: golangci-lint
