Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

policy: read pm.pol under the mutex
  hscontrol/policy/v2/policy.go
Due: golangci-lint

servertest: add logout/relogin storm repro with poll churn
  hscontrol/servertest/client.go
  hscontrol/servertest/lifecycle_test.go
  hscontrol/servertest/server.go
Due: golangci-lint

auth: clamp logout expiry to now
  hscontrol/auth.go
Due: golangci-lint

flake, go.mod: refresh dependencies
  flake.lock
  flakehashes.json
  go.mod
  go.sum
Due: none

nix/release-issue: add release-tracking issue helper
  nix/release-issue/default.nix
  nix/release-issue/release-checklist.md
  nix/release-issue/release-issue.sh
Due: nixpkgs-fmt

flake: expose headscale-release-issue in devShell
  flake.nix
Due: nixpkgs-fmt

types: add ActiveSessions poll session refcount to Node
  hscontrol/types/node.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
Due: golangci-lint

state, poll: refcount poll sessions, mark offline only on last release
  hscontrol/poll.go
  hscontrol/state/connect_test.go
  hscontrol/state/state.go
Due: golangci-lint

mapper: gate broadcast sends until a connection's initial map is delivered
  hscontrol/mapper/batcher.go
  hscontrol/mapper/initialmap_phantom_test.go
  hscontrol/mapper/node_conn.go
Due: golangci-lint

fix: remove redundant closing brace in app initialization logic
  hscontrol/app.go
Due: golangci-lint

flakehashes: update vendor hash for go.mod changes
  flakehashes.json
Due: none

ci: migrate Nix CI to official installer + hestia cache
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/lint.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yaml
  .github/workflows/test.yml
  .github/workflows/update-flake.yml
Due: none

ci: use nix develop default shell across workflows
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/lint.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yaml
  .github/workflows/test.yml
Due: none

ci: add nix flake checks for build and test
  .github/workflows/nix-checks.yml
  flake.nix
Due: nixpkgs-fmt

state: patch relogins and gate endpoint broadcasts
  hscontrol/state/endpoint_test.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

types/change: add NodeKeyRotated for relogin peer patch
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

derp: include bootstrap DNS query host
  hscontrol/derp/server/bootstrap_dns_test.go
  hscontrol/derp/server/derp_server.go
Due: golangci-lint

state: re-register converted tagged nodes with reused key
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
Due: golangci-lint

auth: re-validate key when an expired node re-registers
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: reject re-registration claiming another node's key
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: make any-user machine-key lookup deterministic
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
Due: golangci-lint

state: update node in place on pre-auth-key re-registration
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: roll back node store when re-registration write fails
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

db: treat unknown pre-auth key as not found
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
Due: golangci-lint

state: serialise registration per machine key
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: allow key expiry to be set on tagged nodes
  hscontrol/state/auth_tagged_expiry_test.go
Due: golangci-lint

db: drop ambiguous machine-key getter, match precisely in test helper
  hscontrol/db/node.go
Due: golangci-lint

state: return all nodes for a machine key, reject ambiguous ownership
  hscontrol/auth_test.go
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
