Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

mkdocs: bump version
  mkdocs.yml
Due: none

build: bump Go toolchain to 1.26.5
  Dockerfile.derper
  Dockerfile.integration
  Dockerfile.tailscale-HEAD
  Dockerfile.wasmclient
  flake.lock
  flake.nix
  flakehashes.json
  go.mod
Due: nixpkgs-fmt

ci: add source metadata to container images
  .github/workflows/container-main.yml
  .goreleaser.yml
Due: none

dns: fix use_with_exit_node semantics and coverage
  CHANGELOG.md
  config-example.yaml
  docs/ref/dns.md
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/testdata/dns-use-with-exit-node.yaml
  integration/route_test.go
Due: golangci-lint

fix: V-001 security vulnerability
  hscontrol/templates/ping.go
Due: golangci-lint

fix: V-003 security vulnerability
  hscontrol/templates/register_confirm.go
Due: golangci-lint

docs: add Head-Control to the web UI list
  docs/ref/integration/web-ui.md
Due: none

feat(policy): support SSH session recording
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

fix(policy): use static wrapped errors for recorder validation
  hscontrol/policy/v2/filter.go
Due: golangci-lint

fix: invert HTTP metrics skip condition to record all non-OPTIONS requests
  hscontrol/app.go
  hscontrol/noise.go
Due: golangci-lint

hscontrol: add setUser to change a user's display name, email and picture
  hscontrol/api/v1/errors.go
  hscontrol/api/v1/users.go
  hscontrol/apiv1_users_test.go
  hscontrol/db/users.go
  hscontrol/db/users_test.go
  hscontrol/state/state.go
  hscontrol/state/user_profile_test.go
  hscontrol/testdata/apiv1_golden/TestAPIV1SetUser_parity.json
  hscontrol/types/users.go
  hscontrol/types/users_test.go
Due: golangci-lint

gen: regenerate the v1 client for setUser
  gen/client/v1/client.gen.go
Due: none

cli: add `headscale users set`
  .github/workflows/test-integration.yaml
  cmd/headscale/cli/users.go
  cmd/headscale/cli/users_test.go
  integration/cli_users_test.go
Due: golangci-lint

docs: document setting user profile fields
  CHANGELOG.md
  docs/ref/api.md
  docs/ref/oidc.md
  docs/usage/getting-started.md
Due: none

build: update tailscale.com to v1.103.0-pre.0.20260819232550-0e84b4a3a0a0
  go.mod
  go.sum
  hscontrol/derp/derp.go
  hscontrol/derp/derp_merge_test.go
  hscontrol/derp/derp_test.go
  hscontrol/derp/server/derp_server.go
  hscontrol/mapper/batcher_test.go
  hscontrol/mapper/mapper_test.go
  hscontrol/servertest/server.go
  hscontrol/state/debug.go
  hscontrol/state/maprequest.go
  hscontrol/types/config.go
  hscontrol/types/node.go
  hscontrol/util/zlog/hostinfo.go
  integration/derp_verify_endpoint_test.go
Due: golangci-lint

Update AppleTV configuration steps
  docs/usage/connect/apple.md
Due: none

Resync the GivenName DNS label when a node re-registers
  hscontrol/state/auth_givenname_resync_test.go
  hscontrol/state/state.go
  hscontrol/testdata/apiv1_golden/TestAPIV1ApiKeyDelete_path_prefix_with_id_query_is_both_->_400_parity.json
Due: golangci-lint

policy: add oidcgrp: principal type for OIDC group-based ACLs
  hscontrol/db/db.go
  hscontrol/db/schema.sql
  hscontrol/db/users.go
  hscontrol/oidc.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/oidcgrp_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
  hscontrol/types/users.go
Due: golangci-lint

oidc: add group refresh, admin API, and documentation
  docs/ref/oidc-groups.md
  hscontrol/api/v1/users.go
  hscontrol/app.go
  hscontrol/oidc_groups.go
Due: golangci-lint

e2e: add Docker-based E2E test infrastructure
  e2e/Dockerfile.client
  e2e/Dockerfile.server
  e2e/bootstrap.sh
  e2e/config.yaml
  e2e/docker-compose.yml
  e2e/tests/run_all.sh
  e2e/tests/test_01_api_health.sh
  e2e/tests/test_02_oidc_groups.sh
  e2e/tests/test_03_acl_policies.sh
  e2e/tests/test_04_cli.sh
  e2e/tests/test_05_vpn_connectivity.sh
  e2e/tests/test_06_full_flow.sh
Due: none

Fix lint: extract resyncAutoDerivedGivenName, thelper ordering
  hscontrol/state/auth_givenname_resync_test.go
  hscontrol/state/state.go
Due: golangci-lint

e2e: fix E2E tests to pass reliably in Docker containers
  e2e/config.yaml
  e2e/docker-compose.yml
  e2e/keycloak-init.sh
  e2e/tests/run_all.sh
  e2e/tests/test_01_api_health.sh
  e2e/tests/test_02_oidc_groups.sh
  e2e/tests/test_03_acl_policies.sh
  e2e/tests/test_04_cli.sh
  e2e/tests/test_06_full_flow.sh
  e2e/tests/test_07_user_separation.sh
  e2e/tests/test_08_refresh_monitor.sh
  hscontrol/db/users.go
Due: golangci-lint

e2e: add VPN connectivity test and refresh monitor
  e2e/tests/run_all.sh
  e2e/tests/test_05_vpn_connectivity.sh
  e2e/tests/test_09_refresh_monitor_long.sh
Due: none

e2e: add inter-node ping test, fix VPN reliability
  e2e/tests/run_all.sh
  e2e/tests/test_05_vpn_connectivity.sh
  e2e/tests/test_10_inter_node_ping.sh
Due: none

Add OIDC Group Support in ACLs
  CHANGELOG.md
Due: none

oidc: replace oidcgrp: with Tailscale-compatible group:<name> syntax
  .gitignore
  CHANGELOG.md
  docs/ref/oidc-groups.md
  e2e/Dockerfile.client
  e2e/Dockerfile.server
  e2e/bootstrap.sh
  e2e/config.yaml
  e2e/docker-compose.yml
  e2e/keycloak-init.sh
  e2e/tests/run_all.sh
  e2e/tests/test_01_api_health.sh
  e2e/tests/test_02_oidc_groups.sh
  e2e/tests/test_03_acl_policies.sh
  e2e/tests/test_04_cli.sh
  e2e/tests/test_05_vpn_connectivity.sh
  e2e/tests/test_06_full_flow.sh
  e2e/tests/test_07_user_separation.sh
  e2e/tests/test_08_refresh_monitor.sh
  e2e/tests/test_09_refresh_monitor_long.sh
  e2e/tests/test_10_inter_node_ping.sh
  hscontrol/policy/v2/oidcgrp_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

dns: cancel extra-records retry on shutdown and close watcher on setup error
  CHANGELOG.md
  hscontrol/dns/extrarecords.go
  hscontrol/dns/extrarecords_shutdown_test.go
Due: golangci-lint

CHANGELOG: link extra-records filewatcher fix to #3437
  CHANGELOG.md
Due: none

fix(metrics): collect metrics for non-OPTIONS requests
  hscontrol/app.go
  hscontrol/noise.go
Due: golangci-lint

docs: add LavaMesh to web interfaces list
  docs/ref/integration/web-ui.md
Due: none

templates: apply the tvOS setup reorder to the served /apple page
  hscontrol/templates/apple.go
Due: golangci-lint

docs: reword the tvOS warning to match the new step order
  docs/usage/connect/apple.md
Due: none

hscontrol: cancel tailsql on graceful shutdown
  hscontrol/app.go
Due: golangci-lint

linting issue fix
  hscontrol/app.go
Due: golangci-lint

fix: [Bug] renaming users by name does not work (#3441)
  cmd/headscale/cli/users.go
Due: golangci-lint

fix: [Bug] Internal server error on /debug/registration-cache (#2714)
  hscontrol/debug.go
Due: golangci-lint
