Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

types: regenerate node view
  hscontrol/types/types_view.go
Due: golangci-lint

state: mark expired nodes offline without ending the session
  hscontrol/poll.go
  hscontrol/servertest/lifecycle_test.go
  hscontrol/state/connect_test.go
  hscontrol/state/node_store.go
  hscontrol/state/state.go
  hscontrol/types/node.go
Due: golangci-lint

integration: cover node expiry and recovery for every client
  integration/general_test.go
  integration/helpers.go
Due: golangci-lint

policy: ignore '#' metadata fields across the whole policy
  CHANGELOG.md
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: compare peer CapMap against SaaS route captures
  hscontrol/policy/v2/tailscale_routes_data_compat_test.go
Due: golangci-lint

hscontrol: replace tailscale line refs with doc links
  hscontrol/app.go
  hscontrol/mapper/builder.go
  hscontrol/policy/v2/tailnet_state_caps.go
Due: golangci-lint

policy/v2: suggest approved exit nodes by default
  hscontrol/policy/v2/tailnet_state_caps.go
  hscontrol/servertest/nodeattrs_test.go
Due: golangci-lint

tools/bump: say which gates actually ran
  tools/bump/main.go
  tools/bump/pr.go
  tools/bump/report.go
  tools/bump/report_test.go
Due: golangci-lint

docker: let the tailscale builders fetch a newer toolchain
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

go.mod: promote golang.org/x/mod to a direct requirement
  flakehashes.json
  go.mod
Due: none

.github: delete the unused renovate config
  .github/CODEOWNERS
  .github/renovate.json
Due: none

flake: add gh to the devShell
  flake.nix
Due: nixpkgs-fmt

.github: point CODEOWNERS at the real goreleaser file
  .github/CODEOWNERS
Due: none

tools/bump: add the version bump tool
  tools/bump/area.go
  tools/bump/bisect.go
  tools/bump/docker.go
  tools/bump/docker_test.go
  tools/bump/flake.go
  tools/bump/gate.go
  tools/bump/generate.go
  tools/bump/git.go
  tools/bump/gomod.go
  tools/bump/gomod_test.go
  tools/bump/main.go
  tools/bump/modproxy.go
  tools/bump/plan.go
  tools/bump/pr.go
  tools/bump/repo.go
  tools/bump/report.go
  tools/bump/report_test.go
  tools/bump/verify.go
Due: golangci-lint

flake: drop the Go version from the go_latest comment
  flake.nix
Due: nixpkgs-fmt

.github: gate CI on flake.lock and flakehashes.json
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/nix-module-test.yml
  .github/workflows/test-integration.yaml
Due: none

tools/bump: bump the remaining container base images
  tools/bump/area.go
  tools/bump/images.go
  tools/bump/images_test.go
  tools/bump/main.go
  tools/bump/plan.go
  tools/bump/registry.go
Due: golangci-lint

.github: run tools/bump on demand
  .github/workflows/version-bump.yml
Due: none

tools/capver: drop the duplicate go:generate directive
  tools/capver/main.go
Due: golangci-lint

tools/capver: exit non-zero on failure
  tools/capver/main.go
Due: golangci-lint

tools/bump: reformat inside the lock bump
  tools/bump/flake.go
  tools/bump/generate.go
Due: golangci-lint

tools/bump: drop dependencies that outrun the nixpkgs Go
  tools/bump/gomod.go
  tools/bump/verify.go
Due: golangci-lint

.pre-commit-config: stop handing .toml files to prettier
  .pre-commit-config.yaml
Due: none

tools/bump: bisect go.mod one module at a time
  tools/bump/bisect.go
  tools/bump/gomod.go
Due: golangci-lint

AGENTS.md: document the version bump rules
  AGENTS.md
Due: none

.github: fold the action version updater into tools/bump
  .github/workflows/gh-actions-updater.yaml
  tools/bump/actions.go
  tools/bump/actions_test.go
  tools/bump/area.go
  tools/bump/github.go
Due: golangci-lint

tools/bump: bump the pinned developer tools
  tools/bump/area.go
  tools/bump/github.go
  tools/bump/tools.go
  tools/bump/tools_test.go
Due: golangci-lint

tools/bump: judge the lock bump against the real checks
  tools/bump/area.go
  tools/bump/flake.go
Due: golangci-lint

tools/bump: resolve go.mod targets before calling go get
  tools/bump/gomod.go
  tools/bump/modproxy.go
  tools/bump/modproxy_test.go
  tools/bump/plan.go
  tools/bump/report_test.go
  tools/bump/tools.go
Due: golangci-lint

flake: format the tree with one treefmt
  .pre-commit-config.yaml
  .prettierignore
  AGENTS.md
  Makefile
  flake.nix
Due: nixpkgs-fmt

tools/bump: refuse a batch that moves a requirement backwards
  tools/bump/bisect.go
  tools/bump/gomod.go
  tools/bump/modproxy_test.go
Due: golangci-lint

tools/bump: reword the verify failure
  tools/bump/generate.go
  tools/bump/verify.go
Due: golangci-lint

tools/bump: run the pre-commit hooks before opening the pull request
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

flake: format Nix with nixfmt
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  nix/example-configuration.nix
  nix/module.nix
Due: nixpkgs-fmt

tools/bump: read the toolchain with GOTOOLCHAIN=local
  tools/bump/flake.go
Due: golangci-lint

tools/bump: reformat after the toolchain moves
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

servertest: compare user-owned nodes in via compat tests
  hscontrol/servertest/via_compat_test.go
  hscontrol/servertest/via_ha_compat_test.go
Due: golangci-lint

policy/v2: add via exit node capture
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/testdata/grant_results/via-grant-v52.hujson
Due: golangci-lint

mapper: take peer visibility from the peer map only
  CHANGELOG.md
  hscontrol/mapper/builder.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/policy/policy.go
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/tailscale_routes_data_compat_test.go
  hscontrol/servertest/issues_test.go
  hscontrol/servertest/via_compat_test.go
  hscontrol/types/node_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
