Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

integration: tell a broken Android tunnel from broken subnet forwarding
  integration/android/android_test.go
Due: golangci-lint

integration/androidic: retype until the Android text field holds the input
  integration/androidic/androidic.go
Due: golangci-lint

servertest: drive tailscale client oauthkey flow against v2 API
  hscontrol/servertest/apiv2_oauth_scopes_test.go
Due: golangci-lint

ci: integration-test the tailscale GitHub action against headscale
  .github/actions/headscale-up/action.yml
  .github/workflows/tailscale-action-integration.yaml
Due: none

docs: document joining nodes with an OAuth client
  CHANGELOG.md
  docs/ref/api.md
  docs/ref/registration.md
  hscontrol/api/v2/README.md
Due: none

Reject unknown OAuth client scopes at creation
  CHANGELOG.md
  cmd/headscale/cli/oauth_client.go
  hscontrol/api/v2/errors.go
  hscontrol/db/oauth.go
  hscontrol/db/oauth_test.go
  hscontrol/scope/scope.go
  hscontrol/scope/scope_test.go
Due: golangci-lint

Report every invalid scope at once and keep validation separate from normalisation
  CHANGELOG.md
  hscontrol/db/oauth.go
  hscontrol/db/oauth_test.go
Due: golangci-lint

cli: distinguish no match from ambiguous match when resolving users
  CHANGELOG.md
  cmd/headscale/cli/users.go
  cmd/headscale/cli/users_test.go
Due: golangci-lint

integration: accept Android 10's folder picker for Taildrop
  integration/android/android_test.go
Due: golangci-lint

tools/bump: bump the remaining container base images
  tools/bump/area.go
  tools/bump/images.go
  tools/bump/images_test.go
  tools/bump/main.go
  tools/bump/plan.go
  tools/bump/registry.go
Due: golangci-lint

.github: gate CI on flake.lock and flakehashes.json
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/nix-module-test.yml
  .github/workflows/test-integration.yaml
Due: none

tools/bump: drop dependencies that outrun the nixpkgs Go
  tools/bump/gomod.go
  tools/bump/verify.go
Due: golangci-lint

go.mod: promote golang.org/x/mod to a direct requirement
  flakehashes.json
  go.mod
Due: none

tools/bump: bump the pinned developer tools
  tools/bump/area.go
  tools/bump/github.go
  tools/bump/tools.go
  tools/bump/tools_test.go
Due: golangci-lint

tools/bump: reformat after the toolchain moves
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

tools/bump: reword the verify failure
  tools/bump/generate.go
  tools/bump/verify.go
Due: golangci-lint

tools/bump: run the pre-commit hooks before opening the pull request
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

tools/capver: exit non-zero on failure
  tools/capver/main.go
Due: golangci-lint

flake: add gh to the devShell
  flake.nix
Due: nixpkgs-fmt

.github: run tools/bump on demand
  .github/workflows/version-bump.yml
Due: none

.github: fold the action version updater into tools/bump
  .github/workflows/gh-actions-updater.yaml
  tools/bump/actions.go
  tools/bump/actions_test.go
  tools/bump/area.go
  tools/bump/github.go
Due: golangci-lint

tools/bump: say which gates actually ran
  tools/bump/main.go
  tools/bump/pr.go
  tools/bump/report.go
  tools/bump/report_test.go
Due: golangci-lint

tools/bump: refuse a batch that moves a requirement backwards
  tools/bump/bisect.go
  tools/bump/gomod.go
  tools/bump/modproxy_test.go
Due: golangci-lint

tools/bump: resolve go.mod targets before calling go get
  tools/bump/gomod.go
  tools/bump/modproxy.go
  tools/bump/modproxy_test.go
  tools/bump/plan.go
  tools/bump/report_test.go
  tools/bump/tools.go
Due: golangci-lint

flake: format Nix with nixfmt
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  nix/example-configuration.nix
  nix/module.nix
Due: nixpkgs-fmt

tools/bump: bisect go.mod one module at a time
  tools/bump/bisect.go
  tools/bump/gomod.go
Due: golangci-lint

tools/bump: judge the lock bump against the real checks
  tools/bump/area.go
  tools/bump/flake.go
Due: golangci-lint

.github: point CODEOWNERS at the real goreleaser file
  .github/CODEOWNERS
Due: none

.github: delete the unused renovate config
  .github/CODEOWNERS
  .github/renovate.json
Due: none

tools/bump: add the version bump tool
  tools/bump/area.go
  tools/bump/bisect.go
  tools/bump/docker.go
  tools/bump/docker_test.go
  tools/bump/flake.go
  tools/bump/gate.go
  tools/bump/generate.go
  tools/bump/git.go
  tools/bump/gomod.go
  tools/bump/gomod_test.go
  tools/bump/main.go
  tools/bump/modproxy.go
  tools/bump/plan.go
  tools/bump/pr.go
  tools/bump/repo.go
  tools/bump/report.go
  tools/bump/report_test.go
  tools/bump/verify.go
Due: golangci-lint

AGENTS.md: document the version bump rules
  AGENTS.md
Due: none

tools/bump: read the toolchain with GOTOOLCHAIN=local
  tools/bump/flake.go
Due: golangci-lint

flake: format the tree with one treefmt
  .pre-commit-config.yaml
  .prettierignore
  AGENTS.md
  Makefile
  flake.nix
Due: nixpkgs-fmt

docker: let the tailscale builders fetch a newer toolchain
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

.pre-commit-config: stop handing .toml files to prettier
  .pre-commit-config.yaml
Due: none

tools/capver: drop the duplicate go:generate directive
  tools/capver/main.go
Due: golangci-lint

tools/bump: reformat inside the lock bump
  tools/bump/flake.go
  tools/bump/generate.go
Due: golangci-lint

flake: drop the Go version from the go_latest comment
  flake.nix
Due: nixpkgs-fmt

.github: gate PRs via mitchellh/vouch
  .github/CODEOWNERS
  .github/VOUCHED.td
  .github/pr-unvouched-message
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  .github/workflows/vouch-sync-codeowners.yml
Due: none
