Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

policy/v2: add policytester compat test runner
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test.go
Due: golangci-lint

policy/v2: validate tests block at parse boundary
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: evaluate the tests block on user-initiated writes
  cmd/headscale/cli/policy.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

policy/v2: canonicalize Protocol form during unmarshal
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: surface autogroup:internet via grants on exit nodes
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

.github: gate pull requests via vouch
  .github/VOUCHED.td
  .github/pr-unvouched-message
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  .github/workflows/vouch-sync-codeowners.yml
Due: none

.github: collapse CODEOWNERS to single rule
  .github/CODEOWNERS
Due: none

hscontrol/policy/v2: reject ambiguous user references at load time
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

cmd/headscale/cli: validate users in policy check
  CHANGELOG.md
  cmd/headscale/cli/policy.go
Due: golangci-lint

servertest: cover via-grant exit-node visibility end-to-end
  hscontrol/servertest/grants_test.go
Due: golangci-lint

Fix golangci-lint errors in FlexibleStringSlice
  hscontrol/types/users.go
Due: golangci-lint

policy: implement nodeAttrs support (tailscale feature gap #2319)
  hscontrol/mapper/builder.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/nodeattrs_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
Due: golangci-lint

mapper: include self node on nodeAttrs-affected policy changes
  hscontrol/mapper/batcher.go
  hscontrol/state/state.go
Due: golangci-lint

servertest: add nodeAttrs CapMap end-to-end test
  hscontrol/servertest/nodeattrs_test.go
Due: golangci-lint

integration: add nodeAttrs Docker E2E tests
  integration/nodeattrs_test.go
  integration/tsic/tsic.go
Due: golangci-lint

policy: add BenchmarkCompileNodeAttrs for nodeAttrs compilation cost
  hscontrol/policy/v2/nodeattrs_test.go
Due: golangci-lint

state: avoid nil deref in registration handlers when old user is missing
  hscontrol/auth_test.go
  hscontrol/state/state.go
Due: golangci-lint

config: move randomize_client_port to policy file
  CHANGELOG.md
  cmd/headscale/headscale_test.go
  config-example.yaml
  hscontrol/mapper/builder.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
  hscontrol/state/state.go
  hscontrol/types/config.go
  hscontrol/types/node.go
Due: golangci-lint

Add Headscale UI to web UI documentation
  docs/ref/integration/web-ui.md
Due: none

mapper: include UserProfiles in policy-change MapResponses
  hscontrol/mapper/mapper.go
Due: golangci-lint

Add unit test
  hscontrol/servertest/issues_test.go
Due: golangci-lint

docs(setup): fix typo in requirements.md
  docs/setup/requirements.md
Due: none

docs(config): fix typo in config-example.yaml
  config-example.yaml
Due: none

Deployed 585d0c01 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/search/search_index.json
  development/setup/requirements/index.html
  versions.json
Due: none

ci, pre-commit: validate vendor hash via vendorhash check
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

hscontrol/types: regenerate types_clone.go for viewer bump
  hscontrol/types/types_clone.go
Due: golangci-lint

cmd/vendorhash: track vendor SRI in flakehashes.json
  cmd/vendorhash/main.go
  flake.nix
  flakehashes.json
Due: nixpkgs-fmt, golangci-lint

flake.nix, go.mod: bump tailscale.com to v1.97.0-pre
  Dockerfile.integration
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

types: add listener address helpers
  hscontrol/types/config.go
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

types: add structured ConfigError and validator
  hscontrol/types/config_errors.go
  hscontrol/types/config_errors_test.go
Due: golangci-lint

hscontrol: name listener bind failures via ListenerBindError
  hscontrol/app.go
Due: golangci-lint

cli: classify Serve errors with operator hints
  cmd/headscale/cli/serve.go
  cmd/headscale/cli/serve_test.go
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

types: add ListenerBindError for typed bind failures
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

types: validate listener address collisions
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/listener.go
Due: golangci-lint
