Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

speculative new datastruct, fix ip range return
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

maybe only return ipv4? not always?
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/types.go
  hscontrol/types/node.go
Due: golangci-lint

hscontrol/policy/v2: recategorize grants skip list from SRCIPS_FORMAT into granular root causes
  hscontrol/policy/v2/tailscale_grants_compat_test.go
Due: golangci-lint

integration: reduce TestAutoApproveMultiNetwork flakiness
  integration/route_test.go
Due: golangci-lint

integration: reduce TestACLTagPropagation flakiness
  integration/acl_test.go
Due: golangci-lint

integration: reduce TestPingAllByIP flakiness
  integration/general_test.go
Due: golangci-lint

integration: use relaxed ping settings across more tests
  integration/auth_web_flow_test.go
  integration/general_test.go
Due: golangci-lint

integration: drop incorrect WithPingUntilDirect(false) from ping options
  integration/auth_web_flow_test.go
  integration/general_test.go
Due: golangci-lint

integration: check InNetworkMap and InMagicSock in WaitForPeers
  integration/tsic/tsic.go
Due: golangci-lint

feat(dns): DNS profiles
  config-example.yaml
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/testdata/dns_profiles.yaml
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

integration: increase ping timeout budget for direct connections
  integration/auth_web_flow_test.go
  integration/general_test.go
Due: golangci-lint

cmd/hi: add images subcommand to list required Docker Hub images
  cmd/hi/images.go
  cmd/hi/main.go
Due: golangci-lint

ci: pre-pull all Docker Hub images with retry in build-images job
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

nix: sync module options and descriptions with upstream nixpkgs
  nix/module.nix
Due: nixpkgs-fmt

nix: disable external DERP URL fetch in VM test
  nix/tests/headscale.nix
Due: nixpkgs-fmt

integration: use CI-friendly defaults for ping and curl
  integration/acl_test.go
  integration/auth_web_flow_test.go
  integration/general_test.go
  integration/route_test.go
  integration/tailscale.go
  integration/tsic/tsic.go
Due: golangci-lint

integration: wait for packet filter before asserting port block
  integration/acl_test.go
Due: golangci-lint

integration: use PeerSyncTimeout and reorder assertions in ACL tests
  integration/acl_test.go
Due: golangci-lint

ci: bump Go to 1.26.1 in tailscale HEAD Dockerfile
  Dockerfile.tailscale-HEAD
Due: none

mapper: handle RemoveNode after channel cleanup
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

mapper: close stale map channels after send timeouts
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/poll_test.go
Due: golangci-lint

poll: stop stale map sessions through an explicit teardown hook
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
  hscontrol/poll.go
  hscontrol/poll_test.go
Due: golangci-lint

feat: add prominent warning banner for non-standard IP prefixes
  config-example.yaml
  hscontrol/types/config.go
Due: golangci-lint

fix: persist empty ApprovedRoutes and Endpoints to database
  hscontrol/state/state.go
Due: golangci-lint

integration: harden WaitForPeers with InNetworkMap and InMagicSock checks
  integration/tailscale.go
  integration/tsic/tsic.go
Due: golangci-lint

integration: use CI-friendly timeouts and improve test robustness
  integration/acl_test.go
  integration/api_auth_test.go
  integration/auth_key_test.go
  integration/auth_oidc_test.go
  integration/auth_web_flow_test.go
  integration/cli_test.go
  integration/dns_test.go
  integration/embedded_derp_test.go
  integration/general_test.go
  integration/helpers.go
  integration/route_test.go
  integration/ssh_test.go
  integration/tags_test.go
Due: golangci-lint

state: filter ListPeers through peer visibility map
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

ci: pre-pull Docker Hub images and bump Go to 1.26.1
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

integration: split bundled EventuallyWithT per-client in ACL tests
  integration/acl_test.go
  integration/tsic/tsic.go
Due: golangci-lint

state: fix policy change race in UpdateNodeFromMapRequest
  hscontrol/state/state.go
Due: golangci-lint

integration: split per-client assertions and use IPs for positive curls
  integration/acl_test.go
  integration/helpers.go
Due: golangci-lint

integration: reduce ping count in assertPingAll for more retries
  integration/helpers.go
Due: golangci-lint

nix: update flake inputs
  flake.lock
Due: none

all: update Go to 1.26.1
  Dockerfile.derper
  Dockerfile.integration
  Dockerfile.tailscale-HEAD
  cmd/hi/run.go
  go.mod
Due: golangci-lint

nix: upgrade dev shell to Python 3.14
  flake.nix
Due: nixpkgs-fmt
