Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

nix: use testers.nixosTest instead of deprecated nixosTest
  flake.nix
Due: nixpkgs-fmt

integration: update CLI tests for ID-based preauthkey commands
  integration/auth_key_test.go
  integration/cli_test.go
Due: golangci-lint

types: add Owner() method for node display
  hscontrol/auth.go
  hscontrol/mapper/mapper.go
  hscontrol/state/debug.go
  hscontrol/types/node.go
Due: golangci-lint

integration: add test to validate #2979 reauth not clearing tags
  integration/tags_test.go
Due: golangci-lint

util/dns: fix variable redeclaration in ValidateDNSName
  hscontrol/util/dns.go
Due: golangci-lint

state: allow untagging nodes via reauth with empty RequestTags
  hscontrol/auth_test.go
  hscontrol/state/state.go
Due: golangci-lint

nix: use testers.nixosTest instead of nixosTest
  flake.nix
Due: nixpkgs-fmt

integration: update reauth untag test for #2979
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

gen: regenerate protobuf files
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
Due: none

integration/tags: add dedicated issue #2978 reproduction test
  integration/tags_test.go
Due: golangci-lint

cli: ensure tagged-devices is included in profile list (#2991)
  .github/workflows/test-integration.yaml
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
  hscontrol/auth.go
  hscontrol/mapper/mapper.go
  hscontrol/state/debug.go
  hscontrol/state/node_store.go
  hscontrol/types/node.go
  integration/cli_test.go
Due: golangci-lint

integration: update tests to expect email format in user names
  integration/acl_test.go
  integration/api_auth_test.go
  integration/auth_key_test.go
  integration/cli_test.go
  integration/general_test.go
  integration/route_test.go
  integration/tags_test.go
Due: golangci-lint

feat(oidc): add configurable username mapping via `oidc.username_claim_order`
  config-example.yaml
  docs/ref/oidc.md
  hscontrol/oidc.go
  hscontrol/types/config.go
  hscontrol/types/users.go
  hscontrol/types/users_test.go
  integration/auth_oidc_test.go
  integration/helpers.go
Due: golangci-lint

Create my-agent.agent.md for custom agent setup
  .github/agents/my-agent.agent.md
Due: none

ACL testing (#1803)
  CHANGELOG.md
  cmd/headscale/cli/policy.go
  docs/ref/acls.md
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
  hscontrol/state/state.go
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/policy.proto
Due: golangci-lint

Clarify autogroup:member
  docs/ref/acls.md
Due: none

gen: regenerate protobuf code
  cmd/headscale/cli/nodes.go
  gen/go/headscale/v1/node.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1.go
  hscontrol/types/node.go
  integration/acl_test.go
  integration/tags_test.go
Due: golangci-lint

CHANGELOG: add breaking change for Node API simplification
  CHANGELOG.md
Due: none

api/v1: replace ForcedTags/InvalidTags/ValidTags with Tags
  proto/headscale/v1/node.proto
Due: none

types: use Username() in User.Proto() when Name is empty
  hscontrol/types/users.go
Due: golangci-lint

Add headscale-piying web UI to docs
  docs/ref/integration/web-ui.md
Due: none

Deployed c3e2e57f to development with MkDocs 1.6.1 and mike 2.1.3
  development/ref/acls/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

Deployed bb30208f to development with MkDocs 1.6.1 and mike 2.1.3
  development/ref/integration/web-ui/index.html
  development/search/search_index.json
Due: none

Mention tags on the features page
  docs/about/features.md
Due: none

Fix list-routes examples
  docs/ref/routes.md
Due: none

Bump version in mkdocs
  mkdocs.yml
Due: none

Fix ownership description for auto approved routers/exits
  docs/ref/routes.md
Due: none

Document /version in the API docs
  docs/ref/api.md
Due: none

Document how to disable the metrics interfaces
  config-example.yaml
  docs/ref/debug.md
Due: none

Document oidc.email_verification_required
  config-example.yaml
  docs/ref/oidc.md
Due: none

Changelog: mark oidc.email_verified_required as breaking
  CHANGELOG.md
Due: none

state: disable key expiry for nodes with approved advertise-tags
  hscontrol/state/state.go
Due: golangci-lint

state: disable key expiry for tagged nodes
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

integration: add test for reauth tag removal
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
