Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

Legacy preauthkeys must be used as-is
  CHANGELOG.md
Due: none

mapper: correct some variable names missed from change
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
Due: golangci-lint

batcher: ensure removal from batcher
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
  hscontrol/state/state.go
Due: golangci-lint

changelog: prepare for 0.28.0 beta
  CHANGELOG.md
Due: none

Squashed Commit for Fix of issue 2899
  config-example.yaml
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/testdata/dns_global_without_override.yaml
  hscontrol/types/testdata/dns_override_false_with_split.yaml
  hscontrol/types/testdata/dns_split_no_fallback_error.yaml
  hscontrol/types/testdata/dns_split_with_fallback.yaml
  hscontrol/types/testdata/dns_split_without_fallback.yaml
  integration/dns_test.go
Due: golangci-lint

tools/capver: regenerate from docker tags
  tools/capver/main.go
Due: golangci-lint

capver: generate
  hscontrol/capver/capver.go
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
Due: golangci-lint

squash latest commits
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/types/config.go
  hscontrol/types/users.go
  hscontrol/types/users_test.go
Due: golangci-lint

oidc: add tests for unverified email scenarios
  hscontrol/oidc_test.go
Due: golangci-lint

oidc: add test for multiple allowed groups
  hscontrol/oidc_test.go
Due: golangci-lint

oidc: fix validateOIDCAllowedGroups checking all groups
  hscontrol/oidc.go
Due: golangci-lint

docs: add changelog for email_verified_required option
  CHANGELOG.md
Due: none

lint
  hscontrol/oidc.go
  hscontrol/oidc_test.go
Due: golangci-lint

fix nil panic on batcher close
  hscontrol/mapper/batcher_lockfree.go
Due: golangci-lint

oidc: make email verification configurable
  CHANGELOG.md
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/types/config.go
  hscontrol/types/users.go
  hscontrol/types/users_test.go
Due: golangci-lint

Remove cmd/mapresponses and regenerate protobuf files
  .github/workflows/regenerate-proto.yml
  cmd/mapresponses/main.go
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
Due: golangci-lint

Add documentation for regenerating protobuf files
  REGENERATE_PROTO.md
Due: none

Update FORK_TODO with complete status and protobuf regeneration instructions
  FORK_TODO.md
Due: none

Regen Protobuf files
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
Due: none

Update vendorHash after module path change and remove hi package
  flake.nix
Due: nixpkgs-fmt

update vendor hash and protobuf
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
Due: golangci-lint

Fix linting errors
  .github/workflows/check-tests.yaml
  .github/workflows/regenerate-proto.yml
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/headscale.go
Due: golangci-lint

prettier
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/regenerate-proto.yml
  .pre-commit-config.yaml
  FORK_TODO.md
  README.md
  REGENERATE_PROTO.md
  docs/about/faq.md
  docs/ref/acls.md
  docs/ref/derp.md
  docs/setup/install/container.md
  docs/setup/requirements.md
Due: none

Fix typecheck error: use = instead of := for already declared err variable
  hscontrol/util/dns.go
Due: golangci-lint

Fix 5 typecheck errors: use = instead of := for already declared err variables
  hscontrol/policy/v2/types.go
Due: golangci-lint

Fix 3 typecheck errors: use = instead of := for already declared err variables in db package
  hscontrol/db/node.go
  hscontrol/db/users.go
Due: golangci-lint

Fix 2 typecheck errors: use = instead of := for already declared err variables in cli package
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/policy.go
Due: golangci-lint

Document how to disable the metrics interfaces
  config-example.yaml
  docs/ref/debug.md
Due: none

Document /version in the API docs
  docs/ref/api.md
Due: none

Changelog: mark oidc.email_verified_required as breaking
  CHANGELOG.md
Due: none

Document oidc.email_verification_required
  config-example.yaml
  docs/ref/oidc.md
Due: none

hostname: normalize before validation
  hscontrol/types/node.go
  hscontrol/util/util.go
Due: golangci-lint

rework to re-enable package creation
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

Bump version in mkdocs
  mkdocs.yml
Due: none

Fix list-routes examples
  docs/ref/routes.md
Due: none
