Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

oidc: harden reloadable confirmation flow
  hscontrol/handlers.go
  hscontrol/handlers_test.go
  hscontrol/oidc.go
  hscontrol/oidc_callback_reload_test.go
  hscontrol/oidc_test.go
Due: golangci-lint

CHANGELOG: merge the duplicate 0.29.4 sections
  CHANGELOG.md
Due: none

flake: format Nix with nixfmt
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  nix/example-configuration.nix
  nix/module.nix
Due: nixpkgs-fmt

tools/bump: drop dependencies that outrun the nixpkgs Go
  tools/bump/gomod.go
  tools/bump/verify.go
Due: golangci-lint

tools/bump: bump the remaining container base images
  tools/bump/area.go
  tools/bump/images.go
  tools/bump/images_test.go
  tools/bump/main.go
  tools/bump/plan.go
  tools/bump/registry.go
Due: golangci-lint

tools/bump: reformat inside the lock bump
  tools/bump/flake.go
  tools/bump/generate.go
Due: golangci-lint

tools/bump: say which gates actually ran
  tools/bump/main.go
  tools/bump/pr.go
  tools/bump/report.go
  tools/bump/report_test.go
Due: golangci-lint

AGENTS.md: document the version bump rules
  AGENTS.md
Due: none

tools/bump: read the toolchain with GOTOOLCHAIN=local
  tools/bump/flake.go
Due: golangci-lint

tools/bump: judge the lock bump against the real checks
  tools/bump/area.go
  tools/bump/flake.go
Due: golangci-lint

tools/bump: reformat after the toolchain moves
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

.github: fold the action version updater into tools/bump
  .github/workflows/gh-actions-updater.yaml
  tools/bump/actions.go
  tools/bump/actions_test.go
  tools/bump/area.go
  tools/bump/github.go
Due: golangci-lint

tools/bump: bisect go.mod one module at a time
  tools/bump/bisect.go
  tools/bump/gomod.go
Due: golangci-lint

.pre-commit-config: stop handing .toml files to prettier
  .pre-commit-config.yaml
Due: none

flake: format the tree with one treefmt
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  flake.nix
Due: nixpkgs-fmt

tools/bump: run the pre-commit hooks before opening the pull request
  tools/bump/area.go
  tools/bump/generate.go
Due: golangci-lint

.github: run tools/bump on demand
  .github/workflows/version-bump.yml
Due: none

tools/bump: bump the pinned developer tools
  tools/bump/area.go
  tools/bump/github.go
  tools/bump/tools.go
  tools/bump/tools_test.go
Due: golangci-lint

tools/bump: reword the verify failure
  tools/bump/generate.go
  tools/bump/verify.go
Due: golangci-lint

Use tmpfs for /tmp
  docs/setup/install/container.md
  docs/setup/install/main.md
Due: none

AGENTS.md: drop stale line numbers
  AGENTS.md
Due: none

integration: pin which Hostinfo changes reach peers
  .github/workflows/test-integration.yaml
  integration/general_test.go
Due: golangci-lint

state: skip node health writes that change nothing
  hscontrol/state/node_health_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: classify map requests before broadcasting
  hscontrol/state/endpoint_test.go
  hscontrol/state/maprequest.go
  hscontrol/state/maprequest_noop_test.go
  hscontrol/state/maprequest_test.go
  hscontrol/state/state.go
  hscontrol/types/node.go
Due: golangci-lint

state: reuse peer adjacency for payload-only writes
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

types: detect policy change on user identity and exit routes
  hscontrol/types/node.go
  hscontrol/types/node_test.go
Due: golangci-lint

mapper: drop empty changes before fan-out
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_test.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

state: resolve changed peers through adjacency
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/state/state.go
Due: golangci-lint

CHANGELOG: note narrower map request handling
  CHANGELOG.md
Due: none

state: stop broadcasting a whole peer on disconnect
  hscontrol/state/connect_test.go
  hscontrol/state/state.go
Due: golangci-lint

policy,state: key the peer map by node ID
  hscontrol/policy/pm.go
  hscontrol/policy/v2/issue_3212_test.go
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: rename persist helpers to say what they do
  hscontrol/auth_test.go
  hscontrol/state/ephemeral_test.go
  hscontrol/state/maprequest_noop_test.go
  hscontrol/state/persist_clobber_test.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

policy,types: skip recompile when the user list is unchanged
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
  hscontrol/types/users.go
Due: golangci-lint

CHANGELOG: note the peer map reuse
  CHANGELOG.md
Due: none
