Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

change, mapper: distinguish deleted nodes
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_concurrency_test.go
  hscontrol/mapper/batcher_unit_test.go
  hscontrol/state/persist_test.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

noise: make deleted-node expiry clock independent
  hscontrol/noise.go
  hscontrol/noise_test.go
Due: golangci-lint

poll, noise: tell a deleted node to re-authenticate
  hscontrol/noise.go
  hscontrol/noise_test.go
  hscontrol/poll.go
  hscontrol/poll_test.go
Due: golangci-lint

.github/workflows: regenerate the integration test matrix
  .github/workflows/test-integration.yaml
Due: none

poll: interrupt blocked map writes
  hscontrol/poll.go
  hscontrol/poll_test.go
Due: golangci-lint

state: preserve committed node deletion changes
  hscontrol/api/v1/nodes.go
  hscontrol/api/v2/devices.go
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

CHANGELOG: note the self-as-peer map fix
  CHANGELOG.md
Due: none

mapper: assert no map response lists the recipient as its own peer
  hscontrol/mapper/mapper_test.go
Due: golangci-lint

state: exclude self from peers on the named peer-ID path
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

oidc: serve the registration confirmation page from a reloadable URL
  hscontrol/app.go
  hscontrol/handlers.go
  hscontrol/handlers_test.go
  hscontrol/oidc.go
  hscontrol/oidc_callback_reload_test.go
  integration/scenario.go
Due: golangci-lint

oidc: harden reloadable confirmation flow
  hscontrol/handlers.go
  hscontrol/handlers_test.go
  hscontrol/oidc.go
  hscontrol/oidc_callback_reload_test.go
  hscontrol/oidc_test.go
Due: golangci-lint

CHANGELOG: note OIDC confirmation reload fix
  CHANGELOG.md
Due: none

types: lowercase DNS extra record names
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

mapper: stop a deleted node's map session
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_unit_test.go
Due: golangci-lint

types/change: drop unused VisibilityChange
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

integration: cover node deletion ending the long poll
  integration/README.md
  integration/acl_test.go
  integration/general_test.go
Due: golangci-lint

state: preserve committed node deletion changes
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/grpcv1.go
  hscontrol/state/persist_test.go
  hscontrol/state/state.go
Due: golangci-lint

integration: cover deletion across client versions
  integration/general_test.go
Due: golangci-lint

tools/capver: drop the duplicate go:generate directive
  tools/capver/main.go
Due: golangci-lint

go.mod: promote golang.org/x/mod to a direct requirement
  flakehashes.json
  go.mod
Due: none

.github: gate CI on flake.lock and flakehashes.json
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/nix-module-test.yml
  .github/workflows/test-integration.yaml
Due: none

tools/capver: exit non-zero on failure
  tools/capver/main.go
Due: golangci-lint

flake: drop the Go version from the go_latest comment
  flake.nix
Due: nixpkgs-fmt

tools/bump: add the version bump tool
  tools/bump/area.go
  tools/bump/bisect.go
  tools/bump/docker.go
  tools/bump/docker_test.go
  tools/bump/flake.go
  tools/bump/gate.go
  tools/bump/generate.go
  tools/bump/git.go
  tools/bump/gomod.go
  tools/bump/gomod_test.go
  tools/bump/main.go
  tools/bump/modproxy.go
  tools/bump/plan.go
  tools/bump/pr.go
  tools/bump/repo.go
  tools/bump/report.go
  tools/bump/report_test.go
  tools/bump/verify.go
Due: golangci-lint

.github: delete the unused renovate config
  .github/CODEOWNERS
  .github/renovate.json
Due: none

flake: add gh to the devShell
  flake.nix
Due: nixpkgs-fmt

docker: let the tailscale builders fetch a newer toolchain
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

.github: point CODEOWNERS at the real goreleaser file
  .github/CODEOWNERS
Due: none

oidc: harden callback CSRF cookies, state reuse, and issuer config
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint
