Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

capver: order TailscaleLatestMajorMinor versions with cmpver
  hscontrol/capver/capver.go
Due: golangci-lint

ci: run TestK8sOperator in the shared sqlite matrix
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

cmd/hi: share the test-container prefix matcher and check the k3s image
  cmd/hi/cleanup.go
  cmd/hi/docker.go
  cmd/hi/doctor.go
Due: golangci-lint

integration: add a k3s and Tailscale Kubernetes operator test
  integration/k3sic/k3sic.go
  integration/k3sic/operator.go
  integration/k3sic/tls-ca-baking.md
  integration/k8s_operator_test.go
Due: golangci-lint

integration/tsic: add WithDERPOverHTTP for the non-TLS embedded DERP
  integration/tsic/tsic.go
Due: golangci-lint

integration/hsic: add CreateOAuthClient via the v2 API client
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

db: accept tskey-client- prefix for OAuth client auth
  hscontrol/db/oauth.go
  hscontrol/db/oauth_test.go
  hscontrol/types/oauth.go
Due: golangci-lint

state: accept advertise-tags matching a pre-auth key's tags
  hscontrol/auth_test.go
  hscontrol/state/state.go
Due: golangci-lint

ci: integration-test the tailscale GitHub action against headscale
  .github/actions/headscale-up/action.yml
  .github/workflows/tailscale-action-integration.yaml
Due: none

docs: explain OAuth client use with the tailscale client and GitHub Action
  docs/ref/api.md
  hscontrol/api/v2/README.md
Due: none

db: hash API and pre-auth key secrets with argon2id
  CHANGELOG.md
  hscontrol/db/api_key.go
  hscontrol/db/api_key_test.go
  hscontrol/db/oauth.go
  hscontrol/db/oauth_test.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/secret.go
  hscontrol/db/secret_test.go
Due: golangci-lint

db: add unified credentials table
  hscontrol/db/credential_test.go
  hscontrol/db/db.go
  hscontrol/db/schema.sql
  hscontrol/types/credential.go
Due: golangci-lint

db: store API keys in the credentials table
  hscontrol/db/api_key.go
  hscontrol/db/api_key_test.go
  hscontrol/db/credential.go
Due: golangci-lint

db: store OAuth clients and tokens in the credentials table
  hscontrol/db/credential.go
  hscontrol/db/oauth.go
  hscontrol/db/oauth_test.go
Due: golangci-lint

db: collapse pre-auth keys into the credentials table
  hscontrol/api/v1/nodes.go
  hscontrol/auth_test.go
  hscontrol/db/credential.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/migrate_credentials.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/schema.sql
  hscontrol/db/users_test.go
  hscontrol/mapper/tail_test.go
  hscontrol/policy/v2/types_test.go
  hscontrol/state/ephemeral_test.go
  hscontrol/state/state.go
  hscontrol/types/common.go
  hscontrol/types/credential.go
  hscontrol/types/node.go
  hscontrol/types/node_tags_test.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
  integration/cli_apikeys_test.go
Due: golangci-lint

fix(db): resolve users by OIDC email in GetUserByName
  CHANGELOG.md
  hscontrol/db/issue_3219_test.go
  hscontrol/db/users.go
Due: golangci-lint

ci: bump Mic92/hestia/action to v1.0.2
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/nix-checks.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/servertest.yml
  .github/workflows/test-integration.yaml
Due: none

ci: move hestia action from subpath to repo root
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/nix-checks.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/servertest.yml
  .github/workflows/test-integration.yaml
Due: none

policy: take RLock for reads so map generation runs concurrently
  CHANGELOG.md
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/sshtest.go
  hscontrol/policy/v2/test.go
Due: golangci-lint

mapper,policy: add reconnect-storm and lock-concurrency regression tests
  hscontrol/mapper/initialmap_storm_test.go
  hscontrol/policy/v2/policy_concurrency_test.go
Due: golangci-lint

nix: run each integration test as a NixOS-VM flake check
  .github/workflows/gh-action-integration-generator.go
  flake.lock
  flake.nix
  integration/excluded-tests.json
  integration/postgres-tests.nix
  integration/tests.nix
  nix/tests/integration.nix
Due: nixpkgs-fmt, golangci-lint

nix: build the headscale and tailscale-HEAD test images
  nix/images.nix
Due: nixpkgs-fmt

integration: support prebuilt images and the slow nix VM in the suite
  integration/dockertestutil/execute.go
  integration/dsic/dsic.go
  integration/general_test.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/integrationutil/util.go
  integration/scenario.go
  integration/ssh_test.go
  integration/tsic/tsic.go
  integration/tsric/tsric.go
Due: golangci-lint

ci: pin the integration tailscale versions, generated from capver
  .prettierignore
  cmd/hi/listversions.go
  hscontrol/capver/capver.go
  integration/tailscale-versions.json
  tools/tailscale-versions/main.go
Due: golangci-lint

ci: remove the CI jobs garnix now runs as flake checks
  .github/workflows/build.yml
  .github/workflows/nix-checks.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/test-integration.yaml
  integration/README.md
Due: none

ci: replace the integration workflow with the flake checks and a legacy pipeline
  .github/workflows/check-tests.yaml
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration-legacy.yaml
  .github/workflows/test-integration.yaml
Due: none

integration: refresh the nix test matrix for the rebased main
  integration/tests.nix
Due: nixpkgs-fmt

integration: add TS2021 WebSocket tests to CI matrix
  .github/workflows/test-integration.yaml
Due: none

hscontrol: register /ts2021 for WebSocket GET
  hscontrol/app.go
  hscontrol/noise_test.go
Due: golangci-lint

integration: test /ts2021 WebSocket GET with a real WASM client
  Dockerfile.wasmclient
  integration/ts2021_websocket_test.go
  integration/wasmic/wasmclient/main.go
  integration/wasmic/wasmclient/stub.go
Due: golangci-lint

CHANGELOG: note /ts2021 WebSocket GET fix
  CHANGELOG.md
Due: none

poll: return an HTTP error on long-poll setup failure
  hscontrol/poll.go
  hscontrol/poll_test.go
Due: golangci-lint

mapper: skip peers with invalid names instead of failing the map
  hscontrol/mapper/builder.go
  hscontrol/mapper/mapper_test.go
Due: golangci-lint

state: reject renames whose FQDN exceeds the hostname limit
  hscontrol/state/rename_test.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
Due: golangci-lint

state: log nodes with map-breaking data at startup
  hscontrol/state/node_health.go
  hscontrol/state/node_health_test.go
  hscontrol/state/state.go
Due: golangci-lint

CHANGELOG: note 0.29.2 invalid-name map fix
  CHANGELOG.md
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
