Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

docs: add captain stack inheritance pointers
  AGENTS.md
  CLAUDE.md
Due: none

build(nix): refresh vendor hash for runc bump
  flakehashes.json
Due: none

fix: wait for public ACME TXT visibility before set-dns returns
  hscontrol/dns/azure_acme.go
Due: golangci-lint

feat: advertise CertDomains and publish ACME TXT via Azure DNS
  go.mod
  go.sum
  hscontrol/app.go
  hscontrol/dns/acme_publisher.go
  hscontrol/dns/acme_publisher_test.go
  hscontrol/dns/azure_acme.go
  hscontrol/mapper/mapper.go
  hscontrol/mapper/mapper_test.go
  hscontrol/noise.go
  hscontrol/types/config.go
Due: golangci-lint

types: expect default https_certs.provider in config tests
  hscontrol/types/config_test.go
Due: golangci-lint

types: allow ldflags to override version info
  hscontrol/types/version.go
Due: golangci-lint

types, dns: drop branded identifiers from comments and tests
  hscontrol/dns/acme_publisher_test.go
  hscontrol/types/version.go
Due: golangci-lint

Add AI policy
  AI_POLICY.md
Due: none

Add link to AI policy
  CONTRIBUTING.md
  README.md
Due: none

Add vouched
  .github/CODEOWNERS
  .github/VOUCHED.td
  .github/pr-unvouched-message
  .github/pull_request_template.md
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  .github/workflows/vouch-sync-codeowners.yml
Due: none

Update vouch version
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  .github/workflows/vouch-sync-codeowners.yml
Due: none

build: bump Go toolchain to 1.26.5
  Dockerfile.derper
  Dockerfile.integration
  Dockerfile.tailscale-HEAD
  Dockerfile.wasmclient
  flake.lock
  flake.nix
  flakehashes.json
  go.mod
Due: nixpkgs-fmt

docs: fold review feedback into CLI proposal
  docs/proposals/001-cli.md
Due: none

PR feedback: rename beforeServeLongPoll to cancelEphemeralNodeGC
  hscontrol/poll.go
Due: golangci-lint

ci: bump Mic92/hestia to v2.0.0
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/nix-checks.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/servertest.yml
  .github/workflows/test-integration.yaml
Due: none

docs: enumerate full command tree in CLI proposal
  docs/proposals/001-cli.md
Due: none

hscontrol: gate /key on supported capability version
  hscontrol/handlers.go
  hscontrol/handlers_test.go
Due: golangci-lint

auth: check machine key on the followup registration path
  hscontrol/auth.go
  hscontrol/auth_test.go
Due: golangci-lint

hscontrol: prefer completed auth over expired ctx in followup wait
  hscontrol/auth.go
  hscontrol/auth_test.go
Due: golangci-lint

state: do not expire tagged nodes on logout
  .github/workflows/test-integration.yaml
  CHANGELOG.md
  hscontrol/auth.go
  hscontrol/auth_tags_test.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/testdata/sqlite/clear_tagged_node_expiry_migration_test.sql
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
  integration/tags_test.go
Due: golangci-lint

state: apply a new pre-auth key's tags on re-registration
  .github/workflows/test-integration.yaml
  CHANGELOG.md
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
  integration/tags_test.go
Due: golangci-lint

policy,state: authorize reauth tags against the authenticating user
  .github/workflows/test-integration.yaml
  CHANGELOG.md
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/state/auth_tagged_expiry_test.go
  hscontrol/state/state.go
  integration/tags_test.go
Due: golangci-lint

Explicitly select lunr as search provider
  mkdocs.yml
Due: none

docs: restore Sealos community installation guide
  docs/setup/install/sealos.md
  mkdocs.yml
Due: none

lint: satisfy wsl_v5 whitespace rules in reauth tag validation
  hscontrol/state/state.go
Due: golangci-lint

cli: remove leftover trace log from #3324 that always renders a JSON marshaling error
  cmd/headscale/cli/users.go
Due: golangci-lint

Bump docs version to 0.29.3
  mkdocs.yml
Due: none

Makefile: enable CGO for `make test` in dev shell
  Makefile
Due: none

poll: do not cancel ephemeral GC until Connect succeeds
  hscontrol/db/node.go
  hscontrol/poll.go
  hscontrol/poll_test.go
  hscontrol/state/state.go
Due: golangci-lint

CHANGELOG: add 0.29.3
  CHANGELOG.md
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
