Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

integration: add new app connector tests and improve existing ones
  .github/workflows/test-integration.yaml
  cmd/hi/docker.go
  integration/appconnector_test.go
Due: golangci-lint

integration: add whitespace improvements in app connector tests
  integration/appconnector_test.go
Due: golangci-lint

changelog: update entry for App Connector domain-based routing support
  CHANGELOG.md
Due: none

chore: refine log entry
  hscontrol/app.go
Due: golangci-lint

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

test: add integration tests for TLS certificate reload on SIGHUP
  integration/control.go
  integration/tls_test.go
Due: golangci-lint

feat: reload certificate on sighup reload
  hscontrol/app.go
Due: golangci-lint

chore: add tls test
  hscontrol/tls_test.go
Due: golangci-lint

build: update golangci-lint and gopls in flake
  .pre-commit-config.yaml
  flake.nix
Due: nixpkgs-fmt

auth: generalise auth flow and introduce AuthVerdict
  cmd/headscale/cli/debug.go
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/auth_tags_test.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/grpcv1.go
  hscontrol/handlers.go
  hscontrol/mapper/batcher_test.go
  hscontrol/noise.go
  hscontrol/oidc.go
  hscontrol/state/state.go
  hscontrol/templates/register_web.go
  hscontrol/templates_consistency_test.go
  hscontrol/types/common.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
  integration/cli_test.go
Due: golangci-lint

app: switch from gorilla to chi mux
  flake.nix
  go.mod
  go.sum
  hscontrol/app.go
  hscontrol/noise.go
Due: nixpkgs-fmt, golangci-lint

templates: generalise auth templates for web and OIDC
  hscontrol/handlers.go
  hscontrol/oidc.go
  hscontrol/oidc_template_test.go
  hscontrol/templates/auth_success.go
  hscontrol/templates/auth_web.go
  hscontrol/templates/design.go
  hscontrol/templates/oidc_callback.go
  hscontrol/templates/register_web.go
  hscontrol/templates_consistency_test.go
Due: golangci-lint

fix(policy/v2): use TrimPrefix for leading @ in username resolution
  hscontrol/policy/v2/types.go
Due: golangci-lint

hscontrol/users: add SetUser API and CLI to update user profile fields
  CHANGELOG.md
  cmd/headscale/cli/users.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/grpcv1.go
  hscontrol/grpcv1_test.go
  integration/cli_test.go
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/user.proto
Due: golangci-lint

state, policy, noise: implement SSH check period auto-approval
  hscontrol/noise.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
  hscontrol/state/ssh_check_test.go
  hscontrol/state/state.go
Due: golangci-lint

doc: add CHANGELOG entries for SSH check and auth commands
  CHANGELOG.md
Due: none

hscontrol, cli: add auth register and approve commands
  cmd/headscale/cli/auth.go
  cmd/headscale/cli/nodes.go
  hscontrol/grpcv1.go
  hscontrol/handlers.go
Due: golangci-lint

policy, noise: implement SSH check action
  hscontrol/noise.go
  hscontrol/policy/pm.go
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/state/state.go
  hscontrol/types/common.go
  integration/scenario.go
  integration/ssh_test.go
Due: golangci-lint

gen: regenerate from auth proto changes
  gen/go/headscale/v1/auth.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/openapiv2/headscale/v1/auth.swagger.json
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

proto: add AuthRegister and AuthApprove RPCs
  proto/headscale/v1/auth.proto
  proto/headscale/v1/headscale.proto
Due: none

integration: add SSH check mode tests
  hscontrol/auth_test.go
  integration/auth_web_flow_test.go
  integration/cli_test.go
  integration/control.go
  integration/hsic/hsic.go
  integration/scenario.go
  integration/ssh_test.go
  integration/tags_test.go
Due: golangci-lint

ci: regenerate integration test workflow
  .github/workflows/test-integration.yaml
Due: none

types: avoid NodeView clone in CanAccess
  hscontrol/types/node.go
  hscontrol/types/node_benchmark_test.go
Due: golangci-lint

fix: OIDC expiry 0 now sets nil expiry instead of far-future date
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/types/config.go
Due: golangci-lint

Add a link to Authentik's integration guide
  docs/ref/oidc.md
Due: none

Explain one approach to update OIDC provider info
  docs/ref/oidc.md
Due: none

Deployed df339cd2 to development with MkDocs 1.6.1 and mike 2.1.3
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/ref/tls/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
Due: none

Deployed 0f12e414 to development with MkDocs 1.6.1 and mike 2.1.3
  development/ref/oidc/index.html
  development/search/search_index.json
  versions.json
Due: none

Fix typo in comment about fsnotify behavior
  hscontrol/dns/extrarecords.go
Due: golangci-lint

Fix typo in API key creation help text
  cmd/headscale/cli/api_key.go
Due: golangci-lint

Switch to mdformat to format docs
  .mdformat.toml
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  README.md
  flake.nix
Due: nixpkgs-fmt

Reformat docs with mdformat
  docs/about/contributing.md
  docs/about/faq.md
  docs/about/features.md
  docs/ref/acls.md
  docs/ref/api.md
  docs/ref/configuration.md
  docs/ref/derp.md
  docs/ref/dns.md
  docs/ref/oidc.md
  docs/ref/registration.md
  docs/ref/tls.md
  docs/setup/install/container.md
  docs/setup/install/official.md
  docs/setup/requirements.md
  docs/setup/upgrade.md
  docs/usage/connect/windows.md
  docs/usage/getting-started.md
Due: none

Update docs for auth-id changes
  CHANGELOG.md
  cmd/headscale/cli/debug.go
  docs/ref/api.md
  docs/ref/registration.md
  docs/ref/tags.md
  docs/usage/getting-started.md
  hscontrol/auth.go
  hscontrol/handlers.go
  hscontrol/oidc.go
Due: golangci-lint

Deployed acddd731 to development with MkDocs 1.6.1 and mike 2.1.3
  development/about/faq/index.html
  development/ref/acls/index.html
  development/ref/oidc/index.html
  development/search/search_index.json
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
Due: none

Deployed 9baa795d to development with MkDocs 1.6.1 and mike 2.1.3
  development/ref/api/index.html
  development/ref/registration/index.html
  development/ref/tags/index.html
  development/search/search_index.json
  development/usage/getting-started/index.html
Due: none

types: add node.expiry config with OIDC fallback
  config-example.yaml
  hscontrol/app.go
  hscontrol/poll.go
  hscontrol/types/config.go
  nix/module.nix
Due: nixpkgs-fmt, golangci-lint

Swap favicon for updated version
  hscontrol/assets/favicon.png
Due: none

state: apply default node key expiry on registration
  hscontrol/state/state.go
  integration/cli_test.go
Due: golangci-lint

hscontrol: add tests for default node key expiry
  hscontrol/auth_tags_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
