Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier-changelog, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

prettier-changelog:
  name: prettier-changelog
  entry: prettier --write --print-width 80 --prose-wrap always
  language: system

golangci-lint:
  name: golangci-lint
  entry: .golangci-lint-hook.sh
  language: system
  pass_filenames: false

prek: use global exclude for docs/ and gen/
  .pre-commit-config.yaml
Due: none

add pre-commit hooks, move claude to agents. (#2877)
  .claude/agents/headscale-integration-tester.md
  .golangci-lint-hook.sh
  .mcp.json
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  derp-example.yaml
  docs/logo/headscale3-dots.svg
  docs/logo/headscale3_header_stacked_left.svg
  flake.nix
  integration/auth_key_test.go
Due: nixpkgs-fmt, golangci-lint

Deployed 6d24afba to development with MkDocs 1.6.1 and mike 2.1.3
  development/logo/headscale3-dots.svg
  development/logo/headscale3_header_stacked_left.svg
  versions.json
Due: none

prettier: use standard config for all files including changelog
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
Due: prettier-changelog

changelog: format links on same line
  CHANGELOG.md
Due: prettier-changelog

fix: free ips from usedIps ipset on DeleteNode
  hscontrol/db/ip.go
  hscontrol/state/state.go
Due: golangci-lint

changelog: add changelog entry
  CHANGELOG.md
Due: prettier-changelog

Added favicon to webpages
  CHANGELOG.md
  hscontrol/app.go
  hscontrol/assets/favicon.png
  hscontrol/handlers.go
  hscontrol/templates/general.go
  swagger.go
Due: prettier-changelog, golangci-lint

add favicon to webpages (#2858)
  CHANGELOG.md
  hscontrol/app.go
  hscontrol/assets/favicon.png
  hscontrol/handlers.go
  hscontrol/templates/general.go
  swagger.go
Due: prettier-changelog, golangci-lint

Explicitly drop `apt-get clean` and use `dist-clean`
  Dockerfile.integration
Due: none

prettier: use standard config for all files including changelog (#2879)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
Due: prettier-changelog

nix: add readme
  nix/README.md
Due: none

nix: add NixOS module and tests
  CHANGELOG.md
  README.md
  flake.nix
  nix/README.md
  nix/example-configuration.nix
  nix/module.nix
  nix/tests/headscale.nix
Due: nixpkgs-fmt, prettier-changelog

ci: add NixOS module test workflow
  .github/workflows/nix-module-test.yml
Due: none

flake: remove unused checks.format and ldflags
  flake.nix
Due: nixpkgs-fmt

nix: add NixOS module and tests (#2857)
  .github/workflows/nix-module-test.yml
  CHANGELOG.md
  README.md
  flake.nix
  nix/README.md
  nix/example-configuration.nix
  nix/module.nix
  nix/tests/headscale.nix
Due: nixpkgs-fmt, prettier-changelog

hscontrol: use octal literal syntax in test
  hscontrol/oidc_template_test.go
Due: golangci-lint

templates: migrate OIDC callback to elem-go
  hscontrol/assets/oidc_callback_template.html
  hscontrol/oidc.go
  hscontrol/oidc_template_test.go
  hscontrol/templates/general.go
  hscontrol/templates/oidc_callback.go
  hscontrol/templates/register_web.go
Due: golangci-lint

hscontrol/templates: add Material for MkDocs design assets
  hscontrol/templates/design.go
  hscontrol/templates/headscale.svg
  hscontrol/templates/style.css
Due: golangci-lint

hscontrol: add template HTML consistency test
  hscontrol/templates_consistency_test.go
Due: golangci-lint

hscontrol/templates: refactor to use CSS classes and embedded files
  hscontrol/templates/apple.go
  hscontrol/templates/general.go
  hscontrol/templates/oidc_callback.go
  hscontrol/templates/register_web.go
  hscontrol/templates/windows.go
Due: golangci-lint

changelog: add entry for templates redesign
  CHANGELOG.md
Due: prettier-changelog

hscontrol: convert BlankHandler to use elem-go
  hscontrol/handlers.go
  hscontrol/templates/general.go
Due: golangci-lint

flake: disable CGO in dev shell
  flake.nix
Due: nixpkgs-fmt

hscontrol: consolidate assets into single package
  hscontrol/assets/assets.go
  hscontrol/assets/headscale.svg
  hscontrol/assets/style.css
  hscontrol/handlers.go
  hscontrol/templates/general.go
  hscontrol/templates/headscale.svg
Due: golangci-lint

types: make pre auth key use bcrypt
  CHANGELOG.md
  cmd/headscale/cli/preauthkeys.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/ip_test.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/schema.sql
  hscontrol/db/suite_test.go
  hscontrol/db/users_test.go
  hscontrol/state/state.go
  hscontrol/types/preauth_key.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
  integration/cli_test.go
Due: prettier-changelog, golangci-lint

hscontrol/db: add hskey-api prefix format for API keys
  hscontrol/db/api_key.go
  hscontrol/db/api_key_test.go
  hscontrol/types/api_key.go
Due: golangci-lint

docs: update CHANGELOG for API key changes
  CHANGELOG.md
Due: prettier-changelog

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  prettier-changelog: any of: ^CHANGELOG\.md$
  golangci-lint: any of: \.go$
