Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

cmd/headscale/cli: convert remaining commands to RunE
  cmd/headscale/cli/configtest.go
  cmd/headscale/cli/dump_config.go
  cmd/headscale/cli/generate.go
  cmd/headscale/cli/mockoidc.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/serve.go
  cmd/headscale/cli/version.go
Due: golangci-lint

cmd/headscale/cli: move errMissingParameter and Error type to their users
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/mockoidc.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: add mustMarkRequired helper for init-time flag validation
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove legacy namespace and machine aliases
  CHANGELOG.md
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/root.go
  cmd/headscale/cli/users.go
Due: golangci-lint

cmd/headscale/cli: extract bypassDatabase helper and simplify policy file reads
  cmd/headscale/cli/policy.go
Due: golangci-lint

cmd/headscale/cli: add confirmAction helper for force/prompt patterns
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: use HeadscaleDateTimeFormat and util.Base10 consistently
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/pterm_style.go
  cmd/headscale/cli/users.go
Due: golangci-lint

cmd/headscale/cli: drop dead flag-read error checks
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/nodes.go
Due: golangci-lint

cmd/headscale/cli: deduplicate expiration parsing and api-key flag validation
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

Extend upgrade guide with backup instructions
  docs/setup/upgrade.md
Due: none

Simplify upgrade snippet with a link to the upgrade guide
  .goreleaser.yml
Due: none

Require to update from one version to the next
  docs/about/faq.md
  docs/setup/upgrade.md
Due: none

Add FAQ entry to migrate back to default IP prefixes
  docs/about/faq.md
Due: none

Deployed cfb308b4 to development with MkDocs 1.6.1 and mike 2.1.3
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/ref/tls/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
Due: none

policy/v2: add policy unmarshal tests for bracketed IPv6
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: accept RFC 3986 bracketed IPv6 in ACL destinations
  hscontrol/policy/v2/utils.go
  hscontrol/policy/v2/utils_test.go
Due: golangci-lint

cmd/headscale/cli: remove nil resp guards and unexport HasMachineOutputFlag
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/root.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove deprecated output, SuccessOutput, ErrorOutput
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: add grpcRun wrapper for gRPC client lifecycle
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: add printListOutput to centralise table-vs-JSON branching
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: switch to RunE with grpcRunE and error returns
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: silence cobra error/usage output and centralise error formatting
  cmd/headscale/cli/root.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove no-op Args functions from serveCmd and dumpConfigCmd
  cmd/headscale/cli/dump_config.go
  cmd/headscale/cli/serve.go
Due: golangci-lint

app: change gorilla to chi mux, add dummy endpoints
  flake.nix
  go.mod
  go.sum
  hscontrol/app.go
  hscontrol/noise.go
Due: nixpkgs-fmt, golangci-lint

build: update golangci-lint and gopls in flake
  .pre-commit-config.yaml
  flake.nix
Due: nixpkgs-fmt

{policy, noise}: initial SSH check poc
  .github/workflows/test-integration.yaml
  hscontrol/noise.go
  hscontrol/policy/v2/filter.go
  integration/ssh_test.go
Due: golangci-lint

policy: patch serverURL into ssh policy
  hscontrol/policy/pm.go
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/state/state.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
