Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

auth: add /auth dummy, tighten AuthRequest, generalise
  hscontrol/app.go
  hscontrol/auth.go
  hscontrol/auth_tags_test.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/grpcv1.go
  hscontrol/handlers.go
  hscontrol/mapper/batcher_test.go
  hscontrol/oidc.go
  hscontrol/state/state.go
  hscontrol/templates/register_web.go
  hscontrol/templates_consistency_test.go
  hscontrol/types/common.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
  integration/cli_test.go
Due: golangci-lint

templates, oidc, handlers: generalise auth templates
  hscontrol/handlers.go
  hscontrol/oidc.go
  hscontrol/oidc_template_test.go
  hscontrol/templates/auth_success.go
  hscontrol/templates/auth_web.go
  hscontrol/templates/design.go
  hscontrol/templates/oidc_callback.go
  hscontrol/templates/register_web.go
  hscontrol/templates_consistency_test.go
Due: golangci-lint

types: introduce AuthVerdict, unify auth finish API
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/state/state.go
  hscontrol/types/common.go
Due: golangci-lint

noise, policy: implement SSH check action handler
  .github/workflows/test-integration.yaml
  hscontrol/noise.go
  hscontrol/policy/v2/filter.go
  hscontrol/types/common.go
  integration/scenario.go
Due: golangci-lint

proto: add AuthRegister and AuthApprove RPCs
  proto/headscale/v1/auth.proto
  proto/headscale/v1/headscale.proto
Due: none

hscontrol: implement AuthRegister and AuthApprove gRPC handlers
  hscontrol/grpcv1.go
  hscontrol/handlers.go
Due: golangci-lint

gen: regenerate from auth proto changes
  gen/go/headscale/v1/auth.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/openapiv2/headscale/v1/auth.swagger.json
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

cli: add headscale auth register/approve commands
  cmd/headscale/cli/auth.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/nodes.go
Due: golangci-lint

integration: use headscale auth register in tests
  hscontrol/auth_test.go
  integration/auth_web_flow_test.go
  integration/cli_test.go
  integration/scenario.go
  integration/tags_test.go
Due: golangci-lint

doc: add CHANGELOG entries for SSH check action and auth commands
  CHANGELOG.md
Due: none

integration: add negative and check-period SSH check mode tests
  .github/workflows/test-integration.yaml
  integration/ssh_test.go
Due: golangci-lint

hsic: add ReadLog method for container log inspection
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

integration: split SSH check mode test into CLI and OIDC variants
  integration/ssh_test.go
Due: golangci-lint

proto: add disable_expiry field to ExpireNodeRequest
  gen/go/headscale/v1/node.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/node.proto
Due: none

node: implement disable key expiry via CLI and API
  .github/workflows/test-integration.yaml
  cmd/headscale/cli/nodes.go
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  integration/general_test.go
Due: golangci-lint

integration: add TestSSHLocalpart integration test
  integration/ssh_test.go
Due: golangci-lint

ci: regenerate test-integration.yaml for TestSSHLocalpart
  .github/workflows/test-integration.yaml
Due: none

policy/v2: add localpart:*@domain SSH user type
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: compile localpart rules into per-user SSHRules
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
Due: golangci-lint

Fix minor formatting issue in FAQ
  docs/about/faq.md
Due: none

Deployed a0d6802d to development with MkDocs 1.6.1 and mike 2.1.3
  development/about/faq/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

hscontrol/state: extract findExistingNodeForPAK to reduce complexity
  hscontrol/state/state.go
Due: golangci-lint

hscontrol: enforce that tagged nodes never have user_id
  hscontrol/db/users.go
  hscontrol/state/node_store.go
  hscontrol/state/state.go
  hscontrol/state/tags.go
  hscontrol/types/node.go
Due: golangci-lint

hscontrol: add tests for deleting users with tagged nodes
  hscontrol/auth_tags_test.go
  hscontrol/db/users_test.go
  hscontrol/grpcv1_test.go
Due: golangci-lint

hscontrol/db: add migration to clear user_id on tagged nodes
  hscontrol/db/db.go
  hscontrol/db/schema.sql
Due: golangci-lint

hscontrol/types: regenerate types_view.go
  hscontrol/types/types_view.go
Due: golangci-lint

integration: fix tag tests for tagged nodes with nil user_id
  integration/acl_test.go
  integration/helpers.go
  integration/tags_test.go
Due: golangci-lint

policy/v2: accept RFC 3986 bracketed IPv6 in ACL destinations
  hscontrol/policy/v2/utils.go
  hscontrol/policy/v2/utils_test.go
Due: golangci-lint

policy/v2: add policy unmarshal tests for bracketed IPv6
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

Reformat docs with mdformat
  docs/about/contributing.md
  docs/about/faq.md
  docs/about/features.md
  docs/ref/acls.md
  docs/ref/api.md
  docs/ref/configuration.md
  docs/ref/derp.md
  docs/ref/dns.md
  docs/ref/oidc.md
  docs/ref/registration.md
  docs/ref/tls.md
  docs/setup/install/container.md
  docs/setup/install/official.md
  docs/setup/requirements.md
  docs/setup/upgrade.md
  docs/usage/connect/windows.md
  docs/usage/getting-started.md
Due: none

Switch to mdformat to format docs
  .mdformat.toml
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  README.md
  flake.nix
Due: nixpkgs-fmt

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
