Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

feat: add prominent warning banner for non-standard IP prefixes
  config-example.yaml
  hscontrol/types/config.go
Due: golangci-lint

hscontrol/servertest: add race, stress, and poll race tests
  hscontrol/servertest/poll_race_test.go
  hscontrol/servertest/race_test.go
  hscontrol/servertest/stress_test.go
Due: golangci-lint

hscontrol: add servertest harness for in-process control plane testing
  hscontrol/app.go
  hscontrol/servertest/assertions.go
  hscontrol/servertest/client.go
  hscontrol/servertest/harness.go
  hscontrol/servertest/server.go
Due: golangci-lint

hscontrol/state: fix online status reset during re-registration
  hscontrol/state/state.go
Due: golangci-lint

hscontrol/servertest: fix test expectations for eventual consistency
  hscontrol/servertest/client.go
  hscontrol/servertest/issues_test.go
Due: golangci-lint

mapper/batcher: serialize per-node work to prevent out-of-order delivery
  hscontrol/mapper/batcher_concurrency_test.go
Due: golangci-lint

hscontrol/servertest: expand issue tests to 24 scenarios, surface 4 issues
  hscontrol/servertest/ephemeral_test.go
  hscontrol/servertest/issues_test.go
  hscontrol/servertest/lifecycle_test.go
  hscontrol/servertest/routes_test.go
Due: golangci-lint

hscontrol/poll,state: fix grace period disconnect TOCTOU race
  hscontrol/mapper/batcher_test.go
  hscontrol/poll.go
  hscontrol/state/state.go
Due: golangci-lint

hscontrol/servertest: add control plane lifecycle and consistency tests
  hscontrol/servertest/consistency_test.go
  hscontrol/servertest/lifecycle_test.go
  hscontrol/servertest/server.go
  hscontrol/servertest/weather_test.go
Due: golangci-lint

hscontrol/servertest: add policy, route, ephemeral, and content tests
  hscontrol/servertest/assertions.go
  hscontrol/servertest/client.go
  hscontrol/servertest/consistency_test.go
  hscontrol/servertest/content_test.go
  hscontrol/servertest/ephemeral_test.go
  hscontrol/servertest/harness.go
  hscontrol/servertest/lifecycle_test.go
  hscontrol/servertest/policy_test.go
  hscontrol/servertest/routes_test.go
Due: golangci-lint

fix: align banner right-side border to consistent 64-char width
  hscontrol/types/config.go
Due: golangci-lint

Explicitly mention that a headscale username should *not* end with @
  docs/ref/oidc.md
  docs/ref/registration.md
  docs/usage/getting-started.md
Due: none

Deployed efd83da1 to development with MkDocs 1.6.1 and mike 2.1.4
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/registration/index.html
  development/ref/routes/index.html
  development/ref/tags/index.html
  development/ref/tls/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
  versions.json
Due: none

fix: persist empty ApprovedRoutes and Endpoints to database
  hscontrol/state/state.go
Due: golangci-lint

fix: use Select("*") to persist zero-value fields in single statement
  hscontrol/state/state.go
Due: golangci-lint

fix: add nolint directive for intentional Select("*") in persistNodeToDB
  hscontrol/state/state.go
Due: golangci-lint

perf: short-circuit SetUsers when user list is unchanged
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

perf: add singleflight bcrypt validation cache for preauth keys
  hscontrol/db/preauth_keys.go
Due: golangci-lint

hscontrol/policy: defer filter compilation in SetNodes to eliminate hot-path cost
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/state.go
Due: golangci-lint

hscontrol/policy: add pre-built node IP indexes for O(1) Username/Tag resolution
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

hscontrol/policy: hoist invariant checks out of canAccessIndexed inner loop
  hscontrol/policy/v2/policy.go
Due: golangci-lint

hscontrol/policy: add resolve cache, lightweight filter recompilation, and reachability tests
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/reachability_ip_test.go
  hscontrol/policy/v2/reachability_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

hscontrol/state,policy: add incremental peer map computation for new node additions
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
Due: golangci-lint

hscontrol/policy: skip O(N) node iteration in Host.Resolve for non-CGNAT prefixes
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

hscontrol/policy: add source matcher index cache for O(relevant) CanAccess checks
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

mapper/batcher: wake processing loop on new changes for prompt delivery
  hscontrol/mapper/batcher.go
  hscontrol/mapper/mapper.go
Due: golangci-lint

hscontrol/state: store NodeIDs instead of NodeViews in peersByNode to eliminate GC overhead
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
Due: golangci-lint

hscontrol/state: replace 500ms batch timeout with 1ms micro-batch drain
  hscontrol/state/node_store.go
Due: golangci-lint

Switch to mkdocs-materialx
  config-example.yaml
  docs/requirements.txt
  mkdocs.yml
Due: none

goreleaser: remove unused ts2019 build tag
  .goreleaser.yml
Due: none

ci: add build workflow for main branch
  .github/workflows/container-main.yml
  README.md
Due: none

docs: add development builds install page
  README.md
  docs/setup/install/main.md
  mkdocs.yml
Due: none

CHANGELOG: add 0.28.1 patch release with noise body limit fix
  CHANGELOG.md
Due: none

added policy validation before nixes-rebuild switch
  nix/example-configuration.nix
  nix/module.nix
Due: nixpkgs-fmt

added a derivation dependency
  nix/example-configuration.nix
  nix/module.nix
  nix/tests/headscale.nix
Due: nixpkgs-fmt

Fix invisible selected menu item
  mkdocs.yml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
