Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

all: extract remaining magic numbers to named constants
  cmd/hi/docker.go
  cmd/hi/stats.go
  integration/dockertestutil/config.go
  integration/dockertestutil/network.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/integrationutil/util.go
  integration/scenario.go
  integration/tsic/tsic.go
Due: golangci-lint

hscontrol/mapper: fix copylocks govet warnings
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

hscontrol: extract magic numbers to named constants
  hscontrol/app.go
  hscontrol/db/sqliteconfig/config.go
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/oidc.go
  hscontrol/types/config.go
Due: golangci-lint

hscontrol/mapper: define sentinel errors for err113 compliance
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/builder.go
Due: golangci-lint

hscontrol/policy/v2: define sentinel errors
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
  hscontrol/policy/v2/utils.go
  hscontrol/policy/v2/utils_test.go
Due: golangci-lint

all: fix staticcheck and contextcheck lint issues
  cmd/hi/cleanup.go
  cmd/hi/docker.go
  cmd/hi/doctor.go
  hscontrol/app.go
  hscontrol/db/db.go
  hscontrol/db/node_test.go
  hscontrol/db/users_test.go
  hscontrol/noise.go
  hscontrol/oidc.go
  hscontrol/policy/policy_route_approval_test.go
  hscontrol/policy/v2/types_test.go
  hscontrol/state/state.go
  hscontrol/util/util_test.go
  integration/helpers.go
Due: golangci-lint

all: use context-aware methods for exec, database, and HTTP
  cmd/hi/docker.go
  cmd/hi/doctor.go
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/sqliteconfig/integration_test.go
  hscontrol/derp/server/derp_server.go
  integration/api_auth_test.go
Due: golangci-lint

all: apply additional wsl_v5 whitespace fixes
  cmd/hi/docker.go
  cmd/hi/doctor.go
  cmd/hi/stats.go
  hscontrol/db/db.go
  hscontrol/db/node.go
  hscontrol/db/users.go
  hscontrol/derp/server/derp_server.go
  hscontrol/handlers.go
  hscontrol/policy/v2/types.go
  hscontrol/types/node.go
  hscontrol/types/users_test.go
  hscontrol/util/util.go
  integration/derp_verify_endpoint_test.go
Due: golangci-lint

all: apply lint auto-fixes and update test expectations
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/users.go
  cmd/hi/doctor.go
  cmd/hi/run.go
  hscontrol/db/db.go
  hscontrol/db/sqliteconfig/config.go
  hscontrol/db/text_serialiser.go
  hscontrol/db/users.go
  hscontrol/derp/server/derp_server.go
  hscontrol/handlers.go
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
  hscontrol/noise.go
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/types_test.go
  hscontrol/poll.go
  hscontrol/state/maprequest_test.go
  hscontrol/state/state.go
  hscontrol/types/config.go
  hscontrol/types/node.go
  hscontrol/types/users_test.go
  hscontrol/util/dns.go
  hscontrol/util/prompt.go
  hscontrol/util/prompt_test.go
  hscontrol/util/util.go
  integration/api_auth_test.go
  integration/auth_key_test.go
  integration/auth_web_flow_test.go
  integration/derp_verify_endpoint_test.go
  integration/dns_test.go
Due: golangci-lint

hscontrol/state: fix err113 issues using sentinel errors
  hscontrol/state/debug.go
  hscontrol/state/state.go
Due: golangci-lint

all: define sentinel errors for err113 compliance
  cmd/headscale/cli/mockoidc.go
  cmd/headscale/cli/users.go
  cmd/hi/docker.go
  cmd/hi/stats.go
  hscontrol/db/node.go
  hscontrol/db/text_serialiser.go
  hscontrol/db/users.go
  hscontrol/dns/extrarecords.go
  hscontrol/noise.go
  hscontrol/tailsql.go
  hscontrol/types/common.go
  hscontrol/types/config.go
  hscontrol/types/node.go
  hscontrol/types/users.go
  hscontrol/util/dns.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
Due: golangci-lint

all: apply testifylint fixes and correct auto-fix issues
  cmd/hi/docker.go
  cmd/hi/main.go
  cmd/hi/stats.go
  hscontrol/db/node.go
  hscontrol/policy/v2/types.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/scenario.go
  integration/tsic/tsic.go
Due: golangci-lint

hscontrol: extract more magic numbers to named constants
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/utils.go
  hscontrol/util/dns.go
  hscontrol/util/string.go
  hscontrol/util/util.go
Due: golangci-lint

all: fix exptostd, ineffassign, unconvert, intrange, predeclared issues
  cmd/hi/stats.go
  hscontrol/auth_test.go
  hscontrol/db/db.go
  hscontrol/db/node_test.go
  hscontrol/policy/v2/types_test.go
  hscontrol/state/state.go
  integration/auth_web_flow_test.go
  integration/helpers.go
  integration/scenario.go
  integration/tsic/tsic.go
Due: golangci-lint

integration: define sentinel errors for err113 compliance
  cmd/mapresponses/main.go
  hscontrol/auth_test.go
  hscontrol/state/node_store_test.go
  integration/derp_verify_endpoint_test.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/scenario.go
  integration/tsic/tsic.go
Due: golangci-lint

all: fix inamedparam and recvcheck lint issues
  hscontrol/auth.go
  hscontrol/policy/pm.go
  hscontrol/policy/v2/types.go
  integration/control.go
Due: golangci-lint

all: fix godoclint, gosec, testifylint, and thelper lint issues
  cmd/headscale/cli/policy.go
  cmd/hi/docker.go
  cmd/hi/stats.go
  hscontrol/db/ephemeral_garbage_collector_test.go
  hscontrol/db/node.go
  hscontrol/db/preauth_keys.go
  hscontrol/derp/derp.go
  hscontrol/dns/extrarecords.go
  hscontrol/handlers.go
  hscontrol/noise.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/node_store_test.go
  hscontrol/tailsql.go
  hscontrol/types/preauth_key.go
  hscontrol/types/users.go
  hscontrol/util/util.go
  integration/api_auth_test.go
  integration/cli_test.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/integrationutil/util.go
  integration/route_test.go
  integration/tsic/tsic.go
Due: golangci-lint

nix: update to Go 1.26 and fix deprecations
  flake.lock
  flake.nix
Due: nixpkgs-fmt

nix: fix deprecated attributes and update dev tools
  flake.lock
  flake.nix
Due: nixpkgs-fmt

go.mod: update dependencies
  go.mod
  go.sum
Due: none

derp: migrate to derpserver package API
  hscontrol/derp/server/derp_server.go
Due: golangci-lint

nix: update vendor hash for Go dependencies
  flake.nix
Due: nixpkgs-fmt

gen: regenerate protobuf and type views
  gen/go/headscale/v1/headscale.pb.gw.go
  hscontrol/types/types_view.go
Due: golangci-lint

policy/v2: validate SSH source/destination combinations
  hscontrol/policy/v2/types.go
Due: golangci-lint

policy: update tests for SSH validation rules
  hscontrol/policy/policy_test.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

integration: update SSH tests for validation rules
  integration/ssh_test.go
Due: golangci-lint

docs: add changelog for SSH policy changes
  CHANGELOG.md
Due: none

changelog: fixups for 0.28.0-beta.2
  CHANGELOG.md
Due: none

feat: reload certificate on sighup reload
  hscontrol/app.go
Due: golangci-lint

chore: refine log entry
  hscontrol/app.go
Due: golangci-lint

chore: add tls test
  hscontrol/tls_test.go
Due: golangci-lint

Päivitä Go-riippuvuudet uusimpiin versioihin
  go.mod
  go.sum
Due: none

Add initial .snapshots directory with config and docs
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
Due: none
