Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

github: fix needs-more-info label race condition
  .github/workflows/needs-more-info-timer.yml
Due: none

No longer consider autogroup:self experimental
  docs/ref/acls.md
Due: none

Add more UIs
  docs/ref/integration/web-ui.md
Due: none

Release planning happens in milestones
  docs/about/faq.md
Due: none

Refresh update path
  docs/about/faq.md
Due: none

flake: upgrade golangci-lint to 2.9.0 and update nixpkgs
  flake.lock
  flake.nix
Due: nixpkgs-fmt

db: enforce strict version upgrade path
  hscontrol/db/db.go
  hscontrol/db/schema.sql
  hscontrol/db/versioncheck.go
  hscontrol/db/versioncheck_test.go
Due: golangci-lint

all: upgrade from Go 1.26rc2 to Go 1.26.0
  Dockerfile.derper
  Dockerfile.integration
  Dockerfile.tailscale-HEAD
  cmd/hi/run.go
  go.mod
Due: golangci-lint

CHANGELOG: document strict version upgrade path
  CHANGELOG.md
Due: none

Deployed 8f60b819 to development with MkDocs 1.6.1 and mike 2.1.3
  development/about/faq/index.html
  development/ref/acls/index.html
  development/ref/integration/web-ui/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

db: fix database_versions table creation for PostgreSQL
  hscontrol/db/versioncheck.go
Due: golangci-lint

all: apply golangci-lint 2.9.0 fixes
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/users_test.go
  hscontrol/policy/policy_route_approval_test.go
  hscontrol/state/state.go
  hscontrol/types/change/change.go
  hscontrol/util/util_test.go
  integration/helpers.go
  integration/scenario.go
Due: golangci-lint

all: fix staticcheck SA4006 in types_test.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

Describe how to set username instead of SPN for Kanidm
  docs/ref/oidc.md
Due: none

Document how to use the provider identifier in the policy
  docs/ref/oidc.md
Due: none

Deployed faf55f5e to development with MkDocs 1.6.1 and mike 2.1.3
  development/ref/oidc/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

ci: pin Docker to v28 to avoid v29 breaking changes
  .github/workflows/integration-test-template.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yaml
Due: none

proto: add disable_expiry field to ExpireNodeRequest
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/device.pb.go
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/node.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/node.proto
Due: none

node: implement disable key expiry via CLI and API
  cmd/headscale/cli/nodes.go
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  integration/general_test.go
Due: golangci-lint

cmd/headscale/cli: add grpcRun wrapper for gRPC client lifecycle
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: silence cobra error/usage output and centralise error formatting
  cmd/headscale/cli/root.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: add printListOutput to centralise table-vs-JSON branching
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: switch to RunE with grpcRunE and error returns
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove nil resp guards and unexport HasMachineOutputFlag
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/root.go
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove deprecated output, SuccessOutput, ErrorOutput
  cmd/headscale/cli/utils.go
Due: golangci-lint

cmd/headscale/cli: remove no-op Args functions from serveCmd and dumpConfigCmd
  cmd/headscale/cli/dump_config.go
  cmd/headscale/cli/serve.go
Due: golangci-lint
