Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

gen: regenerate proto code
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/preauthkey.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

proto: change preauthkey API to ID-based operations
  CHANGELOG.md
  proto/headscale/v1/preauthkey.proto
Due: none

hscontrol: handle tags-only PreAuthKeys in registration
  hscontrol/state/state.go
  integration/tags_test.go
Due: golangci-lint

integration: update DeleteAuthKey to use ID
  integration/auth_key_test.go
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

cli: fix preauthkeys expire/delete argument validation
  cmd/headscale/cli/preauthkeys.go
Due: golangci-lint

cli,hscontrol: use ID-based preauthkey operations
  cmd/headscale/cli/preauthkeys.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/users.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
Due: golangci-lint

integration: fix tags-only auth key tests
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

integration: update CLI tests for ID-based preauthkey commands
  integration/auth_key_test.go
  integration/cli_test.go
Due: golangci-lint

hscontrol: allow CreatePreAuthKey without user when tags provided
  hscontrol/db/preauth_keys.go
  hscontrol/grpcv1.go
Due: golangci-lint

Create .DS_Store
  .DS_Store
Due: none

Update CHANGELOG.md for version 0.28.0
  CHANGELOG.md
Due: none

Mark CHANGELOG item as complete
  CHANGELOG.md
Due: none

Fix Docker Hub rate limit in integration tests by pre-pulling golang image
  .DS_Store
  .github/workflows/test-integration.yaml
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
Due: none

added policy validation before nixes-rebuild switch
  nix/example-configuration.nix
  nix/module.nix
Due: nixpkgs-fmt

integration/tags: add dedicated issue #2978 reproduction test
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

integration/tags: add self-tag validation to existing tests
  integration/tags_test.go
Due: golangci-lint

hscontrol: fix tag updates not propagating to node self view
  hscontrol/mapper/batcher.go
  hscontrol/mapper/mapper.go
  hscontrol/state/state.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

cli: show Owner column in preauthkeys list
  cmd/headscale/cli/preauthkeys.go
Due: golangci-lint

integration: test tags-only auth key behavior
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

integration: support auth keys without user
  integration/control.go
  integration/hsic/hsic.go
  integration/scenario.go
Due: golangci-lint

state: update policy manager when deleting users
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  integration/acl_test.go
Due: golangci-lint

integration: add tests for ACL group with deleted/unknown users
  integration/acl_test.go
  integration/control.go
  integration/hsic/hsic.go
Due: golangci-lint

ci: add ACL unknown user tests to integration workflow
  .github/workflows/test-integration.yaml
Due: none

state: add unit test for DeleteUser change signal
  .github/workflows/test-integration.yaml
  hscontrol/grpcv1_test.go
  integration/acl_test.go
Due: golangci-lint

db: migrate tests from check.v1 to testify
  hscontrol/db/api_key_test.go
  hscontrol/db/db_test.go
  hscontrol/db/node_test.go
  hscontrol/db/suite_test.go
  hscontrol/mapper/suite_test.go
  hscontrol/suite_test.go
Due: golangci-lint

go.mod: remove gopkg.in/check.v1 dependency
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

cmd/headscale: migrate tests from check.v1 to testify
  cmd/headscale/headscale_test.go
Due: golangci-lint

proto: add id field to API key expire/delete requests
  proto/headscale/v1/apikey.proto
Due: none

gen: regenerate protobuf code
  gen/go/headscale/v1/apikey.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
Due: none

state: add GetAPIKeyByID method
  hscontrol/state/state.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
