Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

types: move sub-builder log.Fatal sites into validators
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

types: rework validateServerConfig to use ConfigError
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

app: route ACME HTTP-01 listener through errgroup
  hscontrol/app.go
Due: golangci-lint

policy/v2: add policytester compat test runner
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test.go
Due: golangci-lint

policy/v2: evaluate the tests block on user-initiated writes
  cmd/headscale/cli/policy.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

policy/v2: validate tests block at parse boundary
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: canonicalize Protocol form during unmarshal
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/types.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

policy/v2: match default proto set for tests with no proto
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
Due: golangci-lint

CHANGELOG: document policy tests (beta)
  CHANGELOG.md
Due: none

hscontrol/grpcv1: persist nil expiration when request omits it
  CHANGELOG.md
  hscontrol/grpcv1.go
  hscontrol/grpcv1_test.go
Due: golangci-lint

Dockerfile.{tailscale-HEAD,derper}: bump build image to golang:1.26.3-alpine
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

hscontrol/types: regenerate types_clone.go for viewer bump
  hscontrol/types/types_clone.go
Due: golangci-lint

ci, pre-commit: validate vendor hash via vendorhash check
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

flake.nix, go.mod: bump tailscale.com to v1.97.0-pre
  Dockerfile.integration
  flake.lock
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

cmd/vendorhash: track vendor SRI in flakehashes.json
  cmd/vendorhash/main.go
  flake.nix
  flakehashes.json
Due: nixpkgs-fmt, golangci-lint

Add unit test
  hscontrol/servertest/issues_test.go
Due: golangci-lint

mapper: include UserProfiles in policy-change MapResponses
  hscontrol/mapper/mapper.go
Due: golangci-lint

ci: fetch full history in golangci-lint job
  .github/workflows/lint.yml
Due: none

Dockerfile.tailscale-HEAD,Dockerfile.derper: bump golang to 1.26.3
  Dockerfile.derper
  Dockerfile.tailscale-HEAD
Due: none

policy/matcher: include CapGrant.Dsts in match destinations
  hscontrol/policy/matcher/matcher.go
  hscontrol/policy/matcher/matcher_test.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

docs: warn about listen_addr / ACME port collision
  docs/ref/tls.md
Due: none

changelog: document config validation and listener error rework
  CHANGELOG.md
Due: none

types: route deprecation fatals through configValidator
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

types: lift configValidator across LoadServerConfig sub-builders
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

integration: bump tailscale-HEAD build to golang:1.26.3
  Dockerfile.tailscale-HEAD
Due: none

integration: bump derper build to golang:1.26.3
  Dockerfile.derper
Due: none

proto: add CheckPolicy RPC
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/policy.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/policy.proto
Due: none

cli/policy: route check through gRPC; bypass goes direct to DB
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/root.go
  hscontrol/grpcv1.go
  integration/cli_policy_test.go
Due: golangci-lint

policy/v2: evaluate the tests block on user-initiated writes
  .github/workflows/test-integration.yaml
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/root.go
  hscontrol/grpcv1.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
  hscontrol/policy/v2/types.go
  integration/cli_policy_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
