Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

docs: add changelog and refresh the API reference for the v1 API
  CHANGELOG.md
  cmd/dev/README.md
  docs/about/faq.md
  docs/ref/api.md
  docs/ref/integration/reverse-proxy.md
  docs/setup/requirements.md
Due: none

cli: migrate the CLI and integration tests to the v1 HTTP API
  .github/workflows/test-integration.yaml
  cmd/headscale/cli/api_key.go
  cmd/headscale/cli/auth.go
  cmd/headscale/cli/debug.go
  cmd/headscale/cli/health.go
  cmd/headscale/cli/nodes.go
  cmd/headscale/cli/policy.go
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/root_test.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/utils.go
  cmd/headscale/cli/utils_socket_test.go
  hscontrol/util/net.go
  integration/acl_test.go
  integration/api_auth_test.go
  integration/auth_key_test.go
  integration/auth_oidc_test.go
  integration/auth_web_flow_test.go
  integration/cli_apikeys_test.go
  integration/cli_nodes_test.go
  integration/cli_policy_test.go
  integration/cli_preauthkeys_test.go
  integration/cli_server_test.go
  integration/cli_test.go
  integration/cli_users_test.go
  integration/control.go
  integration/general_test.go
  integration/grant_cap_test.go
  integration/helpers.go
  integration/hsic/hsic.go
  integration/route_test.go
  integration/scenario.go
  integration/scenario_test.go
  integration/tags_test.go
  integration/tsric_test.go
Due: golangci-lint

db: report a missing pre-auth key on expire and destroy
  hscontrol/db/preauth_keys.go
Due: golangci-lint

gen/client/v1: add the generated HTTP client
  gen/client/v1/client.gen.go
  hscontrol/apiv1_client_test.go
  hscontrol/apiv1_socket_test.go
Due: golangci-lint

api/v1: add code-first Huma implementation of the v1 API
  .gitignore
  Makefile
  cmd/gen-openapi/main.go
  flakehashes.json
  go.mod
  go.sum
  hscontrol/api/v1/api.go
  hscontrol/api/v1/apikeys.go
  hscontrol/api/v1/auth.go
  hscontrol/api/v1/errors.go
  hscontrol/api/v1/health.go
  hscontrol/api/v1/nodes.go
  hscontrol/api/v1/policy.go
  hscontrol/api/v1/preauthkeys.go
  hscontrol/api/v1/tags.go
  hscontrol/api/v1/types.go
  hscontrol/api/v1/users.go
  hscontrol/app.go
  swagger.go
Due: golangci-lint

Deployed 72adc5ff to development with ProperDocs 1.6.7 and mike 2.2.0
  development/about/faq/index.html
  development/ref/api/index.html
  development/ref/integration/reverse-proxy/index.html
  development/search/search_index.json
  development/setup/requirements/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  versions.json
Due: none

Fixup redirect for remote-control
  mkdocs.yml
Due: none

Replace /swagger with /api/v1/docs
  docs/ref/api.md
Due: none

TLS is not strictly required
  docs/ref/api.md
Due: none

Add headscale-panel to webui docs
  docs/ref/integration/web-ui.md
Due: none

cli: stop doubling the scheme on a remote CLI address
  cmd/headscale/cli/utils.go
  cmd/headscale/cli/utils_test.go
Due: golangci-lint

Fix placeholder in curl example
  docs/ref/api.md
Due: none

ci: drop the DeterminateSystems flake.lock update cron
  .github/workflows/update-flake.yml
Due: none

ci: migrate Nix CI to official installer and hestia cache
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/container-main.yml
  .github/workflows/gc.yml
  .github/workflows/lint.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yaml
  .github/workflows/test.yml
Due: none

Deployed 3c504af2 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/ref/api/index.html
  development/ref/integration/web-ui/index.html
  development/search/search_index.json
  development/sitemap.xml
  development/sitemap.xml.gz
Due: none

all: fix full-tree golangci-lint findings
  cmd/headscale/cli/nodes.go
  hscontrol/derp/derp.go
  hscontrol/derp/server/derp_server.go
  hscontrol/mapper/node_conn.go
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/servertest/client.go
  hscontrol/state/state.go
  hscontrol/types/common.go
  hscontrol/util/dns.go
  integration/dockertestutil/network.go
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

ci: run build, test, lint and format as nix flake checks
  .github/workflows/lint.yml
  .github/workflows/nix-checks.yml
  .github/workflows/servertest.yml
  .github/workflows/test.yml
  flake.lock
  flake.nix
Due: nixpkgs-fmt

api/v1: persist omitted key expiration as NULL, not zero time
  CHANGELOG.md
  hscontrol/api/v1/apikeys.go
  hscontrol/api/v1/preauthkeys.go
  hscontrol/apiv1_apikeys_test.go
  hscontrol/apiv1_preauthkeys_test.go
Due: golangci-lint

api/v2: add Tailscale-compatible keys API
  hscontrol/api/v2/README.md
  hscontrol/api/v2/api.go
  hscontrol/api/v2/errors.go
  hscontrol/api/v2/helpers.go
  hscontrol/api/v2/keys.go
Due: golangci-lint

api/v2: add read-only tailnet settings endpoint
  hscontrol/api/v2/settings.go
Due: golangci-lint

api/v2: add Tailscale-compatible ACL endpoint
  hscontrol/api/v2/acl.go
Due: golangci-lint

hscontrol: add v2 API contract tests
  hscontrol/apiv2_acl_test.go
  hscontrol/apiv2_devices_test.go
  hscontrol/apiv2_keys_test.go
  hscontrol/apiv2_settings_test.go
Due: golangci-lint

flake: add opentofu and tscli for v2 API tests
  flake.nix
  flakehashes.json
  go.mod
  go.sum
Due: nixpkgs-fmt

state: return ErrGivenNameInvalid for invalid node rename
  hscontrol/state/state.go
Due: golangci-lint

types: add Node StringID and UserView accessors
  hscontrol/types/node.go
  hscontrol/types/users.go
Due: golangci-lint

api/v1: build responses from view accessors, not AsStruct
  AGENTS.md
  hscontrol/api/v1/nodes.go
  hscontrol/api/v1/preauthkeys.go
  hscontrol/api/v1/types.go
  hscontrol/api/v1/users.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
