Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

cmd/hi: use exponential backoff for container removal retry
  cmd/hi/cleanup.go
Due: golangci-lint

derp: use context-aware wait for STUN error rate limiting
  hscontrol/derp/server/derp_server.go
Due: golangci-lint

db: use proper synchronization in garbage collector tests
  hscontrol/db/ephemeral_garbage_collector_test.go
  hscontrol/db/node_test.go
Due: golangci-lint

auth_test: remove unnecessary sleeps in goroutine tests
  hscontrol/auth_test.go
Due: golangci-lint

integration: remove flaky sleeps and add nolint for intentional delays
  integration/auth_key_test.go
  integration/auth_oidc_test.go
  integration/embedded_derp_test.go
Due: golangci-lint

state: use EventuallyWithT for goroutine leak detection
  hscontrol/state/node_store_test.go
Due: golangci-lint

mapper: replace time.Sleep with proper synchronization in batcher tests
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

golangci-lint: use forbidigo to block time.Sleep (#2946)
  cmd/hi/cleanup.go
  hscontrol/auth_test.go
  hscontrol/db/ephemeral_garbage_collector_test.go
  hscontrol/db/node_test.go
  hscontrol/derp/server/derp_server.go
  hscontrol/mapper/batcher_test.go
  hscontrol/state/node_store_test.go
  integration/auth_key_test.go
  integration/auth_oidc_test.go
  integration/embedded_derp_test.go
Due: golangci-lint

.github/workflows: attempt to prebuild docker containers
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

Dockerfile: tailscale use alpine
  Dockerfile.tailscale-HEAD
Due: none

.github/workflows: change integration changed filter
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

.github/workflows: remove cache when restored
  .github/workflows/integration-test-template.yml
Due: none

.github/workflows: simplify changed files
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

types: add option to disable taildrop
  CHANGELOG.md
  config-example.yaml
  hscontrol/mapper/tail_test.go
  hscontrol/types/config.go
  hscontrol/types/node.go
Due: golangci-lint

integration: validate taildrop with tags and multi user
  integration/general_test.go
Due: golangci-lint

.github/workflows: only use hi in integration tests
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

.github/workflows: build containers once, reuse
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
  cmd/hi/docker.go
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

.github/workflows: try to cache go test deps
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
  cmd/hi/docker.go
Due: golangci-lint

.github/workflows: no ro cache
  cmd/hi/docker.go
Due: golangci-lint

.github/workflows: update all integration actions
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: none

.github/workflows: update all actions
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-test.yml
  .github/workflows/gh-actions-updater.yaml
  .github/workflows/lint.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Due: none

types: add option to disable taildrop, improve tests (#2955)
  CHANGELOG.md
  config-example.yaml
  hscontrol/mapper/tail_test.go
  hscontrol/types/config.go
  hscontrol/types/node.go
  integration/general_test.go
Due: golangci-lint

.github/workflows: download postgres image, dont get rate limited
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
  integration/hsic/hsic.go
Due: golangci-lint

Dockerfile: reduce integration test image size
  Dockerfile.integration
Due: none

Dockerfile: fixup headscale path, deps
  Dockerfile.integration
  integration/hsic/hsic.go
Due: golangci-lint

Dockerfile: reuse binary in ci image
  .github/workflows/test-integration.yaml
  Dockerfile.integration
  Dockerfile.integration-ci
  integration/hsic/hsic.go
Due: golangci-lint

Change for OIDC unverified email and testing
  hscontrol/oidc.go
  hscontrol/oidc_test.go
Due: golangci-lint

Dockerfile: add curl and traceroute
  Dockerfile.tailscale-HEAD
Due: none

Dockerfile: add curl and traceroute
  Dockerfile.integration
  Dockerfile.integration-ci
Due: none

Dockerfile: downgrade alpine
  Dockerfile.tailscale-HEAD
Due: none

.github/workflows: doc string
  .github/workflows/test-integration.yaml
Due: none

.github/workflows: still manually build special HEAD container for websocket
  integration/tsic/tsic.go
Due: golangci-lint

.github/workflows: prebuilt integration test artifacts (#2954)
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-tests.yaml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-test.yml
  .github/workflows/gh-actions-updater.yaml
  .github/workflows/integration-test-template.yml
  .github/workflows/lint.yml
  .github/workflows/nix-module-test.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test-integration.yaml
  .github/workflows/test.yml
  Dockerfile.integration
  Dockerfile.integration-ci
  Dockerfile.tailscale-HEAD
  cmd/hi/docker.go
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

batcher: fix closed panic
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

go.mod: move go tooling from flake
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  buf.gen.yaml
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

capver: generate
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
  tools/capver/main.go
Due: golangci-lint

fix: DNS resolver config respects MagicDNS superseding override_local_dns
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  integration/dns_override_local_test.go
Due: golangci-lint

feat: implement dynamic Docker API version negotiation
  integration/scenario.go
Due: golangci-lint

revert: remove .dockerignore changes to avoid side effects
  .dockerignore
Due: none

tags
  .github/workflows/test-integration.yaml
  hscontrol/mapper/mapper.go
  hscontrol/policy/v2/policy.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  integration/acl_test.go
Due: golangci-lint
