Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

poll: return an HTTP error on long-poll setup failure
  hscontrol/poll.go
  hscontrol/poll_test.go
Due: golangci-lint

state: reject renames whose FQDN exceeds the hostname limit
  hscontrol/state/rename_test.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
Due: golangci-lint

CHANGELOG: note 0.29.2 invalid-name map fix
  CHANGELOG.md
Due: none

integration: add TS2021 WebSocket tests to CI matrix
  .github/workflows/test-integration.yaml
Due: none

integration: test /ts2021 WebSocket GET with a real WASM client
  Dockerfile.wasmclient
  integration/ts2021_websocket_test.go
  integration/wasmic/wasmclient/main.go
  integration/wasmic/wasmclient/stub.go
Due: golangci-lint

hscontrol: register /ts2021 for WebSocket GET
  hscontrol/app.go
  hscontrol/noise_test.go
Due: golangci-lint

CHANGELOG: note /ts2021 WebSocket GET fix
  CHANGELOG.md
Due: none

CHANGELOG: shorten 0.29.2 invalid-name entry, set date
  CHANGELOG.md
Due: none

integration: refresh the nix test matrix for the rebased main
  integration/tests.nix
Due: nixpkgs-fmt

policy: take RLock for reads so map generation runs concurrently
  CHANGELOG.md
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/sshtest.go
  hscontrol/policy/v2/test.go
Due: golangci-lint

mapper,policy: add reconnect-storm and lock-concurrency regression tests
  hscontrol/mapper/initialmap_storm_test.go
  hscontrol/policy/v2/policy_concurrency_test.go
Due: golangci-lint

mapper: skip peers with invalid names instead of failing the map
  hscontrol/mapper/builder.go
  hscontrol/mapper/mapper_test.go
Due: golangci-lint

state: log nodes with map-breaking data at startup
  hscontrol/state/node_health.go
  hscontrol/state/node_health_test.go
  hscontrol/state/state.go
Due: golangci-lint

Fix invalid ip syntax
  docs/ref/policy.md
Due: none

CHANGELOG: drop unreleased 0.30.0 stub
  CHANGELOG.md
Due: none

nix: shrink integration VMs to fit the builder's job concurrency
  nix/tests/integration.nix
Due: nixpkgs-fmt

nix: restore 8 GB integration VMs; concurrency is a builder cap
  nix/tests/integration.nix
Due: nixpkgs-fmt

nix: batch integration checks so the VM matrix fits a shared builder
  flake.nix
  nix/tests/integration.nix
Due: nixpkgs-fmt

chore: fix function comment to match actual function name
  hscontrol/policy/v2/utils_test.go
Due: golangci-lint

fix: lowercase DNS extra record names
  CHANGELOG.md
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

docs(routes): note exit nodes are selected only via autogroup:internet
  CHANGELOG.md
  docs/ref/routes.md
Due: none

state: clear stale expiry so tagged nodes can re-authenticate after logout
  CHANGELOG.md
  hscontrol/state/issue_3371_test.go
  hscontrol/state/state.go
Due: golangci-lint

docs: add CLI redesign proposal
  docs/proposals/001-cli.md
Due: none

config: add dns.nameservers.use_with_exit_node
  CHANGELOG.md
  config-example.yaml
  docs/ref/dns.md
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/testdata/dns-use-with-exit-node.yaml
Due: golangci-lint

CHANGELOG: point use_with_exit_node entry at the PR
  CHANGELOG.md
Due: none

types: cover split-DNS selectivity for use_with_exit_node
  hscontrol/types/config_test.go
  hscontrol/types/testdata/dns-use-with-exit-node.yaml
Due: golangci-lint

integration: test DNS use_with_exit_node survives exit node
  .github/workflows/test-integration.yaml
  integration/route_test.go
Due: golangci-lint

add Headtower to web interfaces
  docs/ref/integration/web-ui.md
Due: none

fix(policy): validate reauth tags against the authenticating user
  CHANGELOG.md
  hscontrol/policy/pm.go
  hscontrol/policy/v2/policy.go
  hscontrol/state/issue_3374_test.go
  hscontrol/state/state.go
Due: golangci-lint
