Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier-changelog, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]
        exclude: ^CHANGELOG\.md$

      # Prettier for CHANGELOG.md with special formatting
      - id: prettier-changelog
        name: prettier-changelog
        entry: prettier --write --print-width 80 --prose-wrap always
        language: system
        files: ^CHANGELOG\.md$

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: .golangci-lint-hook.sh
        language: system
        types: [go]
        pass_filenames: false

hscontrol: add hskey-reg keys for web auth registration tracking
  CHANGELOG.md
  hscontrol/db/api_key.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
Due: prettier-changelog, golangci-lint

types: populate all fields in PreAuthKeyNew.Proto()
  hscontrol/db/preauth_keys.go
  hscontrol/types/preauth_key.go
Due: golangci-lint

types: make pre auth key use bcrypt (#2853)
  CHANGELOG.md
  cmd/headscale/cli/preauthkeys.go
  hscontrol/auth_test.go
  hscontrol/db/api_key.go
  hscontrol/db/api_key_test.go
  hscontrol/db/db.go
  hscontrol/db/ip_test.go
  hscontrol/db/preauth_keys.go
  hscontrol/db/preauth_keys_test.go
  hscontrol/db/schema.sql
  hscontrol/db/suite_test.go
  hscontrol/db/users_test.go
  hscontrol/grpcv1.go
  hscontrol/state/state.go
  hscontrol/types/api_key.go
  hscontrol/types/preauth_key.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
  integration/cli_test.go
Due: prettier-changelog, golangci-lint

capver: generate
  CHANGELOG.md
  hscontrol/capver/capver.go
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test.go
  hscontrol/capver/capver_test_data.go
  tools/capver/main.go
Due: prettier-changelog, golangci-lint

capver: generate test data too
  tools/capver/main.go
Due: golangci-lint

.gitignore: ignore logs/
  .gitignore
Due: none

types: add order-independent endpoint comparison
  hscontrol/types/node.go
Due: golangci-lint

state: add test for endpoint storage and propagation
  hscontrol/state/endpoint_test.go
Due: golangci-lint

state: detect and return specific change types
  hscontrol/state/state.go
Due: golangci-lint

mapper: handle NodeEndpoint and NodeDERP changes
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

types/change: add NodeEndpoint and NodeDERP change types
  hscontrol/types/change/change.go
  hscontrol/types/change/change_string.go
Due: golangci-lint

mapper: add generation metrics
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_test.go
  hscontrol/state/state.go
Due: golangci-lint

changelog: add entry for endpoint updates
  CHANGELOG.md
Due: prettier-changelog

capver: support 9 major.minor versions temporarily
  CHANGELOG.md
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test_data.go
  integration/scenario.go
  tools/capver/main.go
Due: prettier-changelog, golangci-lint

capver: update latest (#2774)
  .gitignore
  CHANGELOG.md
  hscontrol/capver/capver.go
  hscontrol/capver/capver_generated.go
  hscontrol/capver/capver_test.go
  hscontrol/capver/capver_test_data.go
  integration/scenario.go
  tools/capver/main.go
Due: prettier-changelog, golangci-lint

cmd/hi: improve test cleanup to reduce CI disk usage
  cmd/hi/cleanup.go
  cmd/hi/docker.go
  integration/dockertestutil/network.go
Due: golangci-lint

integration: improve Docker build error diagnostics
  integration/dockertestutil/build.go
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

integration: always show diagnostic build output on failure
  integration/hsic/hsic.go
  integration/tsic/tsic.go
Due: golangci-lint

chore: fix filterHash to work with autogroup:self in the acls
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

Separate the concepts of wg-only peers, and their connections to tailnet nodes
  cmd/headscale/cli/nodes.go
  docs/ref/wireguard-only-peers.md
  hscontrol/db/db.go
  hscontrol/db/schema.sql
  hscontrol/db/wireguard_connections.go
  hscontrol/db/wireguard_only_peer.go
  hscontrol/grpcv1.go
  hscontrol/mapper/batcher.go
  hscontrol/mapper/builder.go
  hscontrol/mapper/mapper.go
  hscontrol/state/debug_test.go
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
  hscontrol/state/state.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_string.go
  hscontrol/types/wireguard_connection.go
  hscontrol/types/wireguard_only_peer.go
  integration/wireguard_only_peer_test.go
  proto/headscale/v1/headscale.proto
  proto/headscale/v1/wireguard_connection.proto
  proto/headscale/v1/wireguard_only_peer.proto
Due: golangci-lint

Generate protobuf files
  gen/go/headscale/v1/headscale.pb.go
  gen/go/headscale/v1/headscale.pb.gw.go
  gen/go/headscale/v1/headscale_grpc.pb.go
  gen/go/headscale/v1/wireguard_connection.pb.go
  gen/go/headscale/v1/wireguard_only_peer.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  gen/openapiv2/headscale/v1/wireguard_connection.swagger.json
  hscontrol/capver/capver_generated.go
Due: golangci-lint

hscontrol/db: remove pre-0.24.0 hardcoded test cases
  hscontrol/db/db_test.go
  hscontrol/db/testdata/sqlite/0-22-3-to-0-23-0-routes-are-dropped-2063_dump.sql
  hscontrol/db/testdata/sqlite/0-22-3-to-0-23-0-routes-fail-foreign-key-2076_dump.sql
Due: golangci-lint

build: use nix shell golangci-lint in pre-commit hook
  .golangci-lint-hook.sh
  .pre-commit-config.yaml
Due: none

hscontrol/db: remove 0.23-to-0.24 test cases
  hscontrol/db/db_test.go
  hscontrol/db/testdata/sqlite/0-23-0-to-0-24-0-no-more-special-types_dump.sql
  hscontrol/db/testdata/sqlite/0-23-0-to-0-24-0-preauthkey-tags-table_dump.sql
Due: golangci-lint

hscontrol/db: reformat multi-line indexes to single-line
  hscontrol/db/db.go
  hscontrol/db/schema.sql
Due: golangci-lint

hscontrol/db: add InitSchema for fresh databases
  hscontrol/db/db.go
  hscontrol/db/testdata/sqlite/headscale_0.24.0-beta.1_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.0-beta.1_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.0-beta.2_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.0-beta.2_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.0_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.0_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.1_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.1_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.2_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.2_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.3_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.24.3_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0-beta.1_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0-beta.1_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0-beta.2_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0-beta.2_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.0_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.1_dump.sql
  hscontrol/db/testdata/sqlite/headscale_0.25.1_schema.sql
Due: golangci-lint

docs: add breaking change for removed pre-0.24.0 migrations
  CHANGELOG.md
Due: prettier-changelog

changelog: add breaking change for pre-0.24.0 migration removal
  CHANGELOG.md
Due: prettier-changelog

hscontrol/db: remove migrations before v0.25.0
  hscontrol/db/db.go
  hscontrol/db/db_test.go
  hscontrol/db/testdata/postgres/pre-24-postgresdb.pssql.dump
  hscontrol/db/testdata/sqlite/wrongly-migrated-schema-0.25.1_dump.sql
Due: golangci-lint

Explicitly drop `apt-get clean` and use `dist-clean`
  Dockerfile.integration
Due: none

fixup! chore: fix filterHash to work with autogroup:self in the acls
  hscontrol/policy/v2/policy.go
Due: golangci-lint

Add API documentation
  .prettierignore
  CHANGELOG.md
  docs/about/faq.md
  docs/ref/api.md
  docs/ref/remote-cli.md
  docs/setup/requirements.md
  mkdocs.yml
Due: prettier-changelog

Deployed 249630be to development with MkDocs 1.6.1 and mike 2.1.3
  development/404.html
  development/about/clients/index.html
  development/about/contributing/index.html
  development/about/faq/index.html
  development/about/features/index.html
  development/about/help/index.html
  development/about/releases/index.html
  development/about/sponsor/index.html
  development/assets/images/social/ref/api.png
  development/assets/images/social/ref/remote-cli.png
  development/index.html
  development/ref/acls/index.html
  development/ref/api/index.html
  development/ref/configuration/index.html
  development/ref/debug/index.html
  development/ref/derp/index.html
  development/ref/dns/index.html
  development/ref/integration/reverse-proxy/index.html
  development/ref/integration/tools/index.html
  development/ref/integration/web-ui/index.html
  development/ref/oidc/index.html
  development/ref/remote-cli/index.html
  development/ref/routes/index.html
  development/ref/tls/index.html
  development/remote-cli/index.html
  development/search/search_index.json
  development/setup/install/community/index.html
  development/setup/install/container/index.html
  development/setup/install/official/index.html
  development/setup/install/source/index.html
  development/setup/requirements/index.html
  development/setup/upgrade/index.html
  development/sitemap.xml
  development/sitemap.xml.gz
  development/usage/connect/android/index.html
  development/usage/connect/apple/index.html
  development/usage/connect/windows/index.html
  development/usage/getting-started/index.html
  versions.json
Due: none

db: remove _schema from migration tests
  hscontrol/db/db_test.go
  hscontrol/db/testdata/sqlite/headscale_0.26.0-beta.1_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.26.0_schema.sql
  hscontrol/db/testdata/sqlite/headscale_0.26.1_dump-litestream.sql
  hscontrol/db/testdata/sqlite/headscale_0.26.1_schema-litestream.sql
  hscontrol/db/testdata/sqlite/headscale_0.26.1_schema.sql
Due: golangci-lint

db: add comment to always check errors in migration
  hscontrol/db/db.go
Due: golangci-lint
