Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

fix
  .github/workflows/test-integration.yaml
  hscontrol/mapper/mapper.go
  hscontrol/policy/v2/policy.go
  hscontrol/types/node.go
  integration/acl_test.go
Due: golangci-lint

tags
  Dockerfile.tailscale-HEAD
  hscontrol/policy/v2/types.go
  integration/hsic/hsic.go
  integration/route_test.go
  integration/scenario.go
Due: golangci-lint

Dockerfile: align packages
  Dockerfile.integration
  Dockerfile.integration-ci
  Dockerfile.tailscale-HEAD
Due: none

AGENTS: golangci-lint from main
  AGENTS.md
Due: none

integration: make entrypoint override more robust
  integration/acl_test.go
  integration/dns_test.go
  integration/dsic/dsic.go
  integration/hsic/hsic.go
  integration/ssh_test.go
  integration/tsic/tsic.go
Due: golangci-lint

editorconfig: add basic editor config
  .editorconfig
  hscontrol/assets/style.css
Due: none

flake: remove hi from shell
  flake.nix
Due: nixpkgs-fmt

policy: more accurate node change
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/state/node_store_test.go
  hscontrol/types/node.go
Due: golangci-lint

integration: replicate tag propagation issue
  .github/workflows/test-integration.yaml
  integration/acl_test.go
Due: golangci-lint

change: smarter change notifications
  hscontrol/app.go
  hscontrol/grpcv1.go
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
  hscontrol/mapper/builder.go
  hscontrol/mapper/mapper.go
  hscontrol/oidc.go
  hscontrol/state/state.go
  hscontrol/types/change/change.go
  hscontrol/types/change/change_string.go
  hscontrol/types/change/change_test.go
Due: golangci-lint

batcher: fix closed panic
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
Due: golangci-lint

policy: clarify usernam resolve comment
  hscontrol/policy/v2/types.go
Due: golangci-lint

AGENTS: golangci-lint from main, no "full matrix"
  AGENTS.md
Due: none

integration: prepare AutoApprove test for new tags
  integration/route_test.go
  integration/scenario.go
Due: golangci-lint

integration: validate that #2615 is not happening anymore
  .github/workflows/test-integration.yaml
  integration/tags_test.go
Due: golangci-lint

policy: add test to confirm group cant approve tag
  hscontrol/policy/route_approval_test.go
Due: golangci-lint

.github/workflows: split long TestAutoApproveMultiNetwork into multiple jobs
  .github/workflows/gh-action-integration-generator.go
  .github/workflows/integration-test-template.yml
  .github/workflows/test-integration.yaml
Due: golangci-lint

app: only wire up debug server if set
  hscontrol/app.go
Due: golangci-lint

Legacy preauthkeys must be used as-is
  CHANGELOG.md
Due: none

batcher: ensure removal from batcher
  hscontrol/mapper/batcher_lockfree.go
  hscontrol/mapper/batcher_test.go
  hscontrol/state/state.go
Due: golangci-lint

mapper: correct some variable names missed from change
  hscontrol/mapper/batcher.go
  hscontrol/mapper/batcher_lockfree.go
Due: golangci-lint
