Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

ci, pre-commit: validate vendor hash via vendorhash check
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

cmd/vendorhash: track vendor SRI in flakehashes.json
  cmd/vendorhash/main.go
  flake.nix
  flakehashes.json
Due: nixpkgs-fmt, golangci-lint

Fix typo and wording
  docs/ref/oidc.md
  docs/setup/requirements.md
Due: none

Remove link to Arch AUR headscale-git
  docs/setup/install/community.md
Due: none

Remove imaging plugins when building documentation
  docs/requirements.txt
Due: none

Link to development builds
  docs/setup/install/community.md
Due: none

Remove redundant prefix
  docs/index.md
  docs/ref/debug.md
  docs/ref/derp.md
  docs/ref/dns.md
  docs/ref/routes.md
  docs/setup/install/community.md
  docs/setup/install/main.md
  docs/setup/install/official.md
Due: none

Use docs instead of KB
  config-example.yaml
Due: none

Shorten container introduction
  docs/setup/install/container.md
Due: none

Use distroless without quotes
  docs/setup/install/container.md
Due: none

Remove link to sqlite
  docs/setup/install/container.md
Due: none

Refresh docs for Grants
  docs/about/faq.md
  docs/about/features.md
  docs/ref/debug.md
  docs/ref/oidc.md
  docs/setup/requirements.md
Due: none

Document supported autogroups once
  docs/about/features.md
Due: none

Rewrite ACL docs as policy
  config-example.yaml
  docs/about/faq.md
  docs/assets/images/headscale-acl-network.png
  docs/ref/acls.md
  docs/ref/policy.md
  docs/ref/registration.md
  mkdocs.yml
Due: none

routes-snr
  docs/ref/routes.md
Due: none

routes-exit
  docs/ref/routes.md
Due: none

integration: retry transient docker network ops
  integration/dockertestutil/network.go
  integration/dockertestutil/network_test.go
Due: golangci-lint

integration: skip subpackage tests in workflow generator
  .github/workflows/gh-action-integration-generator.go
Due: golangci-lint

state: per-goroutine deadline in HA probe cycle
  hscontrol/state/ha_health.go
Due: golangci-lint

integration: drop Force flag on docker network disconnect
  integration/dockertestutil/network.go
Due: golangci-lint

types: rework validateServerConfig to use ConfigError
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

changelog: document config validation and listener error rework
  CHANGELOG.md
Due: none

hscontrol: name listener bind failures via ListenerBindError
  hscontrol/app.go
Due: golangci-lint

cli: classify Serve errors with operator hints
  cmd/headscale/cli/serve.go
  cmd/headscale/cli/serve_test.go
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

docs: warn about listen_addr / ACME port collision
  config-example.yaml
  docs/ref/tls.md
Due: none

app: route ACME HTTP-01 listener through errgroup
  hscontrol/app.go
Due: golangci-lint

types: add ListenerBindError for typed bind failures
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

types: route deprecation fatals through configValidator
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

types: move sub-builder log.Fatal sites into validators
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

types: lift configValidator across LoadServerConfig sub-builders
  hscontrol/types/config.go
  hscontrol/types/config_test.go
Due: golangci-lint

types: add listener address helpers
  hscontrol/types/config.go
  hscontrol/types/listener.go
  hscontrol/types/listener_test.go
Due: golangci-lint

types: validate listener address collisions
  hscontrol/types/config.go
  hscontrol/types/config_test.go
  hscontrol/types/listener.go
Due: golangci-lint

types: add structured ConfigError and validator
  hscontrol/types/config_errors.go
  hscontrol/types/config_errors_test.go
Due: golangci-lint

CHANGELOG: document policy tests (beta)
  CHANGELOG.md
Due: none

policy/v2: match default proto set for tests with no proto
  hscontrol/policy/v2/policytester_compat_test.go
  hscontrol/policy/v2/test.go
  hscontrol/policy/v2/test_test.go
Due: golangci-lint
