Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
  language: system
  pass_filenames: false

CHANGELOG: note fewer peer map builds per write
  CHANGELOG.md
Due: none

state: send a node its own self after its routes change
  CHANGELOG.md
  hscontrol/servertest/routes_test.go
  hscontrol/state/maprequest_test.go
  hscontrol/state/state.go
  integration/route_test.go
Due: golangci-lint

.github: run the version bump daily
  .github/workflows/version-bump.yml
Due: none

Deployed 8af711b5 to development with ProperDocs 1.6.7 and mike 2.2.0
  development/sitemap.xml
  development/sitemap.xml.gz
Due: none

integration: add Android emulator image with test helper app
  Dockerfile.android-integration
  integration/androidic/helper/AndroidManifest.xml
  integration/androidic/helper/res/xml/device_admin.xml
  integration/androidic/helper/src/org/headscale/helper/Admin.java
  integration/androidic/helper/src/org/headscale/helper/Probe.java
  integration/androidic/helper/src/org/headscale/helper/SetRestrictions.java
Due: none

docs: describe running the Android integration tests
  cmd/hi/README.md
  integration/README.md
Due: none

integration: test the Tailscale Android app against headscale
  integration/android/android_test.go
Due: golangci-lint

cmd/hi: warn when /dev/kvm is missing
  cmd/hi/doctor.go
Due: golangci-lint

integration/androidic: add Android emulator client
  integration/androidic/androidic.go
Due: golangci-lint

github: run Android integration tests on x86 KVM runners
  .github/workflows/integration-android-template.yml
  .github/workflows/test-integration-android.yaml
Due: none

tools/bump: keep the Android emulator image's pins current
  tools/bump/android.go
  tools/bump/area.go
  tools/bump/images.go
  tools/bump/images_test.go
  tools/bump/plan.go
Due: golangci-lint

policy/v2: stop narrow rules from undoing via exit steering
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

policy/v2: let autogroup:internet rules lift via exit steering
  hscontrol/policy/v2/issue_3233_test.go
  hscontrol/policy/v2/policy.go
Due: golangci-lint

policyutil: send approved exit nodes every rule
  hscontrol/policy/policyutil/reduce.go
  hscontrol/policy/policyutil/reduce_test.go
Due: golangci-lint

policy/v2: send exit nodes every user's autogroup:self rules
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
Due: golangci-lint

servertest: compare via capture filters as rule sets
  hscontrol/servertest/via_compat_test.go
Due: golangci-lint

derp: drop regions set to null in derp.paths
  CHANGELOG.md
  hscontrol/derp/derp.go
  hscontrol/derp/derp_merge_test.go
Due: golangci-lint

util: decode files by their extension
  hscontrol/util/file.go
  hscontrol/util/util_test.go
Due: golangci-lint

derp: pick the derp.paths format by file extension
  CHANGELOG.md
  config-example.yaml
  docs/ref/derp.md
  hscontrol/derp/derp.go
  hscontrol/derp/derp_test.go
  hscontrol/types/config.go
Due: golangci-lint

dns: pick the extra_records_path format by file extension
  CHANGELOG.md
  config-example.yaml
  docs/ref/dns.md
  hscontrol/dns/extrarecords.go
Due: golangci-lint

testcapture: read captures through util.ReadFileByExt
  hscontrol/types/testcapture/read.go
Due: golangci-lint

cli: split the user lookup out of resolveSingleUser
  cmd/headscale/cli/users.go
Due: golangci-lint

cli: accept a user name in preauthkeys create --user
  CHANGELOG.md
  cmd/headscale/cli/preauthkeys.go
  cmd/headscale/cli/users.go
  cmd/headscale/cli/users_test.go
  docs/ref/registration.md
  docs/usage/getting-started.md
Due: golangci-lint

nix: stop module.nix writing the deprecated ephemeral key
  CHANGELOG.md
  nix/module.nix
Due: nixpkgs-fmt

nix: write split DNS where headscale reads it
  CHANGELOG.md
  nix/module.nix
Due: nixpkgs-fmt

nix: list flake systems explicitly
  flake.nix
Due: nixpkgs-fmt

derp: serve a self-signed TLS listener for tests
  hscontrol/app.go
  hscontrol/derp/server/derp_server.go
  hscontrol/derp/server/derp_server_test.go
Due: golangci-lint

nix: add a NixOS test kit for Tailscale clients
  AGENTS.md
  CHANGELOG.md
  flake.nix
  nix/README.md
  nix/testkit-peer.nix
  nix/testkit.nix
Due: nixpkgs-fmt

nix: run the headscale VM test on the test kit
  flake.nix
  nix/tests/headscale.nix
Due: nixpkgs-fmt

policy/v2: add via exit node captures with unrelated rules
  hscontrol/policy/v2/tailscale_grants_compat_test.go
  hscontrol/policy/v2/testdata/grant_results/via-grant-v53.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v54.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v55.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v56.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v57.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v58.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v59.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v60.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v61.hujson
  hscontrol/policy/v2/testdata/grant_results/via-grant-v62.hujson
  hscontrol/servertest/via_compat_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(docs/|gen/)
  golangci-lint: any of: \.go$, but not: ^(docs/|gen/)
