Repository juanfont/headscale: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

# prek/pre-commit configuration for headscale
# See: https://prek.j178.dev/quickstart/
# See: https://prek.j178.dev/builtin/

# Global exclusions - ignore docs and generated code
exclude: ^(docs/|gen/)

repos:
  # Built-in hooks from pre-commit/pre-commit-hooks
  # prek will use fast-path optimized versions automatically
  # See: https://prek.j178.dev/builtin/
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Local hooks for project-specific tooling
  - repo: local
    hooks:
      # nixpkgs-fmt for Nix files
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        files: \.nix$

      # Prettier for formatting
      - id: prettier
        name: prettier
        entry: prettier --write --list-different
        language: system
        types_or:
          [
            javascript,
            jsx,
            ts,
            tsx,
            yaml,
            json,
            toml,
            html,
            css,
            scss,
            sass,
            markdown,
          ]

      # golangci-lint for Go code quality
      - id: golangci-lint
        name: golangci-lint
        entry: nix develop --command golangci-lint run --new-from-rev=HEAD~1 --timeout=5m --fix
        language: system
        types: [go]
        pass_filenames: false

CHANGELOG: document hostname cleanroom rewrite
  CHANGELOG.md
Due: none

state: auto-bump GivenName on collision and add SetGivenName
  hscontrol/state/node_store.go
  hscontrol/state/node_store_hostname_test.go
Due: golangci-lint

hscontrol: route hostname handling through dnsname and NodeStore
  hscontrol/auth.go
  hscontrol/auth_test.go
  hscontrol/db/node.go
  hscontrol/db/node_test.go
  hscontrol/db/users.go
  hscontrol/state/state.go
  hscontrol/types/node.go
  hscontrol/types/node_test.go
  hscontrol/util/dns.go
  hscontrol/util/dns_test.go
  hscontrol/util/string.go
  hscontrol/util/util.go
  hscontrol/util/util_test.go
  integration/cli_test.go
  integration/general_test.go
Due: golangci-lint

github: split nu where in needs-more-info timer
  .github/workflows/needs-more-info-timer.yml
Due: none

oidc: rebase to 0.28, recover offline sessions and skip online nodes during invalidation
  go.mod
  go.sum
  hscontrol/db/db.go
  hscontrol/db/oidc_session.go
  hscontrol/db/oidc_session_test.go
  hscontrol/db/schema.sql
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/state/state.go
  integration/auth_oidc_test.go
Due: golangci-lint

PR review fixes
  hscontrol/oidc.go
  hscontrol/oidc_test.go
  hscontrol/types/oidc_session.go
Due: golangci-lint

add changelog
  CHANGELOG.md
Due: none

Fix typo in API key creation help text
  cmd/headscale/cli/api_key.go
Due: golangci-lint

feat(oidc): persist groups claim on User
  gen/go/headscale/v1/user.pb.go
  gen/openapiv2/headscale/v1/headscale.swagger.json
  hscontrol/db/db.go
  hscontrol/db/schema.sql
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
  hscontrol/types/users.go
  hscontrol/types/users_test.go
  proto/buf.lock
  proto/headscale/v1/user.proto
Due: golangci-lint

feat(policy): resolve OIDC-asserted groups in Group.Resolve
  hscontrol/policy/v2/oidc_groups_test.go
  hscontrol/policy/v2/types.go
Due: golangci-lint

test(integration): mockoidc end-to-end coverage for OIDC groups
  integration/auth_oidc_test.go
  integration/helpers.go
Due: golangci-lint

feat(oidc): add config flag for groups + custom claim name
  hscontrol/oidc.go
  hscontrol/types/config.go
Due: golangci-lint

docs: document OIDC groups → ACL feature
  CHANGELOG.md
  config-example.yaml
  docs/ref/oidc.md
Due: none

state: preserve username-based IP allocation
  hscontrol/db/ip.go
  hscontrol/db/ip_test.go
  hscontrol/state/state.go
  hscontrol/types/config.go
Due: golangci-lint

rework OIDC and support IDP revocations
  CHANGELOG.md
  config-example.yaml
  docs/ref/oidc.md
  hscontrol/oidc.go
  hscontrol/oidc_test.go
Due: golangci-lint

github: drop nu flatten in needs-more-info timer
  .github/workflows/needs-more-info-timer.yml
Due: none

policy/v2: fix empty grants/acls returning FilterAllowAll
  hscontrol/policy/v2/compiled.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/policy.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/types_test.go
Due: golangci-lint

ci: regenerate test-integration.yaml for TestTailscaleRustAxum
  .github/workflows/test-integration.yaml
Due: none

integration/tsric: add TailscaleRustInContainer package
  Dockerfile.tailscale-rs
  integration/tsric/tsric.go
Due: golangci-lint

integration: add TestTailscaleRustAxum for tailscale-rs
  integration/tsric_test.go
Due: golangci-lint

ci: fetch full history in lint workflow for --new-from-rev
  .github/workflows/lint.yml
Due: none

增强 IPAllocator：初始化命名空间指针并处理 IP 分配冲突
  hscontrol/db/ip.go
Due: golangci-lint

state: preserve nil expiry on user owned registration when no default is configured
  hscontrol/auth_tags_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: note tagged-path coverage and self-healing behaviour for #3199
  CHANGELOG.md
  hscontrol/auth_tags_test.go
Due: golangci-lint

CHANGELOG: note nil expiry preservation fix
  CHANGELOG.md
Due: none

integration: cover exit nodes via autogroup:internet ACL (#3212)
  .github/workflows/test-integration.yaml
  integration/route_test.go
Due: golangci-lint

policy: surface exit nodes via autogroup:internet (#3212)
  hscontrol/policy/policy_test.go
  hscontrol/policy/policyutil/reduce.go
  hscontrol/policy/v2/filter.go
  hscontrol/policy/v2/filter_test.go
  hscontrol/policy/v2/issue_3212_test.go
  hscontrol/policy/v2/policy_test.go
  hscontrol/policy/v2/testdata/issue_3212/routes-b17-autogroup-internet-with-exit-autoapprover.hujson
  hscontrol/policy/v2/testdata/issue_3212/routes-b18-autogroup-internet-wildcard-src-with-exit-autoapprover.hujson
Due: golangci-lint

state: clear Unhealthy when node leaves HA candidate set
  hscontrol/servertest/ha_health_test.go
  hscontrol/state/state.go
Due: golangci-lint

routes: add property test for PrimaryRoutes algorithm
  flake.nix
  go.mod
  hscontrol/routes/primary_property_test.go
Due: nixpkgs-fmt, golangci-lint

state: compute primary routes inside NodeStore snapshot
  hscontrol/state/node_store.go
  hscontrol/state/node_store_test.go
Due: golangci-lint

state: serialise Connect/Disconnect with per-node lock
  hscontrol/servertest/connect_race_test.go
  hscontrol/state/state.go
Due: golangci-lint

state: port primary route tests, delete routes package
  hscontrol/routes/primary.go
  hscontrol/routes/primary_property_test.go
  hscontrol/routes/primary_test.go
  hscontrol/state/primaries_property_test.go
  hscontrol/state/primaries_test.go
Due: golangci-lint

state: fold primary route election into NodeStore snapshot
  hscontrol/mapper/tail_test.go
  hscontrol/servertest/connect_race_test.go
  hscontrol/servertest/ha_dynamic_test.go
  hscontrol/servertest/ha_health_test.go
  hscontrol/state/debug.go
  hscontrol/state/ha_health.go
  hscontrol/state/node_store.go
  hscontrol/state/state.go
Due: golangci-lint

types: add Unhealthy and SessionEpoch fields to Node
  hscontrol/types/node.go
  hscontrol/types/types_clone.go
  hscontrol/types/types_view.go
Due: golangci-lint

servertest, integration: regression tests for HA both-offline recovery
  .github/workflows/test-integration.yaml
  hscontrol/servertest/routes_test.go
  integration/route_test.go
Due: golangci-lint

types: move DebugRoutes from routes to types
  hscontrol/types/debug_routes.go
  integration/control.go
  integration/hsic/hsic.go
  integration/route_test.go
Due: golangci-lint
